In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('C:/Users/Eugene/Documents/GitHub/TSDN-BoyWithLuv/Source/Prototype/New/front_service.csv')

In [4]:
df.head()

,age,sex,dzgroup,dzclass,num.co,edu,income,scoma,charges,totcst,...,bili,crea,sod,ph,glucose,bun,urine,adlp,adls,adlsc
0,62.84998,1,Lung Cancer,Cancer,0,11.0,$11-$25k,0.0,9715.0,NaN,...,0.199982,1.199951,141.0,7.459961,NaN,NaN,NaN,7.0,7.0,7.0
1,60.33899,0,Cirrhosis,COPD/CHF/Cirrhosis,2,12.0,$11-$25k,44.0,34496.0,NaN,...,NaN,5.500000,132.0,7.250000,NaN,NaN,NaN,NaN,1.0,1.0
2,52.74698,0,Cirrhosis,COPD/CHF/Cirrhosis,2,12.0,under $11k,0.0,41094.0,NaN,...,2.199707,2.000000,134.0,7.459961,NaN,NaN,NaN,1.0,0.0,0.0
3,42.38498,0,Lung Cancer,Cancer,2,11.0,under $11k,0.0,3075.0,NaN,...,NaN,0.799927,139.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,79.88495,0,ARF/MOSF w/Sepsis,ARF/MOSF,1,NaN,NaN,26.0,50127.0,NaN,...,NaN,0.799927,143.0,7.509766,NaN,NaN,NaN,NaN,2.0,2.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 42 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       9105 non-null   float64
 1   sex       9105 non-null   int64
 2   dzgroup   9105 non-null   object
 3   dzclass   9105 non-null   object
 4   num.co    9105 non-null   int64
 5   edu       7471 non-null   float64
 6   income    6123 non-null   object
 7   scoma     9104 non-null   float64
 8   charges   8933 non-null   float64
 9   totcst    8217 non-null   float64
 10  totmcst   5630 non-null   float64
 11  avtisst   9023 non-null   float64
 12  race      9063 non-null   object
 13  sps       9104 non-null   float64
 14  aps       9104 non-null   float64
 15  surv2m    9104 non-null   float64
 16  surv6m    9104 non-null   float64
 17  hday      9105 non-null   int64
 18  diabetes  9105 non-null   int64
 19  dementia  9105 non-null   int64
 20  ca        9105 non-null   object
 21  prg2m     7456 non-null   float64
 22  prg6m     7472 non-null   float64
 23  dnr       9075 non-null   object
 24  dnrday    9075 non-null   float64
 25  meanbp    9104 non-null   float64
 26  wblc      8893 non-null   float64
 27  hrt       9104 non-null   float64
 28  resp      9104 non-null   float64
 29  temp      9104 non-null   float64
 30  pafi      6780 non-null   float64
 31  alb       5733 non-null   float64
 32  bili      6504 non-null   float64
 33  crea      9038 non-null   float64
 34  sod       9104 non-null   float64
 35  ph        6821 non-null   float64
 36  glucose   4605 non-null   float64
 37  bun       4753 non-null   float64
 38  urine     4243 non-null   float64
 39  adlp      3464 non-null   float64
 40  adls      6238 non-null   float64
 41  adlsc     9105 non-null   float64
dtypes: float64(31), int64(5), object(6)
memory usage: 2.9+ MB

In [6]:
df.rename(columns={
    'age': 'age_years',
    'sex': 'gender',
    'dzgroup': 'disease_group',
    'dzclass': 'disease_class',
    'num.co': 'num_comorbidities',
    'edu': 'education_years',
    'income': 'income_range',
    'scoma': 'coma_score',
    'charges': 'hospital_charges',
    'totcst': 'total_cost_to_charges_ratio',
    'totmcst': 'total_micro_cost',
    'avtisst': 'avg_tiss_score',
    'race': 'race_ethnicity',
    'sps': 'support_physiology_score',
    'aps': 'apache_score',
    'surv2m': 'survival_2_months',
    'surv6m': 'survival_6_months',
    'hday': 'hospital_day_of_study_entry',
    'diabetes': 'has_diabetes',
    'dementia': 'has_dementia',
    'ca': 'cancer_status',
    'prg2m': 'physician_survival_2_months',
    'prg6m': 'physician_survival_6_months',
    'dnr': 'do_not_resuscitate_status',
    'dnrday': 'day_of_dnr_order',
    'meanbp': 'mean_arterial_bp',
    'wblc': 'white_blood_cell_count',
    'hrt': 'heart_rate',
    'resp': 'respiratory_rate',
    'temp': 'body_temperature_celsius',
    'pafi': 'pao2_fio2_ratio',
    'alb': 'serum_albumin',
    'bili': 'bilirubin_level',
    'crea': 'serum_creatinine',
    'sod': 'serum_sodium',
    'ph': 'blood_ph',
    'glucose': 'glucose_level',
    'bun': 'blood_urea_nitrogen',
    'urine': 'urine_output',
    'adlp': 'adl_index_patient',
    'adls': 'adl_index_surrogate',
    'sfdm2': 'functional_disability_level',
    'adlsc': 'calibrated_adl_index_surrogate'
}, inplace=True)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age_years                       9105 non-null   float64
 1   gender                          9105 non-null   int64
 2   disease_group                   9105 non-null   object
 3   disease_class                   9105 non-null   object
 4   num_comorbidities               9105 non-null   int64
 5   education_years                 7471 non-null   float64
 6   income_range                    6123 non-null   object
 7   coma_score                      9104 non-null   float64
 8   hospital_charges                8933 non-null   float64
 9   total_cost_to_charges_ratio     8217 non-null   float64
 10  total_micro_cost                5630 non-null   float64
 11  avg_tiss_score                  9023 non-null   float64
 12  race_ethnicity                  9063 non-null   object
 13  support_physiology_score        9104 non-null   float64
 14  apache_score                    9104 non-null   float64
 15  survival_2_months               9104 non-null   float64
 16  survival_6_months               9104 non-null   float64
 17  hospital_day_of_study_entry     9105 non-null   int64
 18  has_diabetes                    9105 non-null   int64
 19  has_dementia                    9105 non-null   int64
 20  cancer_status                   9105 non-null   object
 21  physician_survival_2_months     7456 non-null   float64
 22  physician_survival_6_months     7472 non-null   float64
 23  do_not_resuscitate_status       9075 non-null   object
 24  day_of_dnr_order                9075 non-null   float64
 25  mean_arterial_bp                9104 non-null   float64
 26  white_blood_cell_count          8893 non-null   float64
 27  heart_rate                      9104 non-null   float64
 28  respiratory_rate                9104 non-null   float64
 29  body_temperature_celsius        9104 non-null   float64
 30  pao2_fio2_ratio                 6780 non-null   float64
 31  serum_albumin                   5733 non-null   float64
 32  bilirubin_level                 6504 non-null   float64
 33  serum_creatinine                9038 non-null   float64
 34  serum_sodium                    9104 non-null   float64
 35  blood_ph                        6821 non-null   float64
 36  glucose_level                   4605 non-null   float64
 37  blood_urea_nitrogen             4753 non-null   float64
 38  urine_output                    4243 non-null   float64
 39  adl_index_patient               3464 non-null   float64
 40  adl_index_surrogate             6238 non-null   float64
 41  calibrated_adl_index_surrogate  9105 non-null   float64
dtypes: float64(31), int64(5), object(6)
memory usage: 2.9+ MB

In [8]:
df.describe(include=object)

,disease_group,disease_class,income_range,race_ethnicity,cancer_status,do_not_resuscitate_status
count,9105,9105,6123,9063,9105,9075
unique,8,4,4,5,3,3
top,ARF/MOSF w/Sepsis,ARF/MOSF,under $11k,white,no,no dnr
freq,3515,4227,2855,7191,5995,5880

In [10]:
df['disease_group'].unique()

array(['Lung Cancer', 'Cirrhosis', 'ARF/MOSF w/Sepsis', 'Coma', 'CHF',
       'Colon Cancer', 'COPD', 'MOSF w/Malig'], dtype=object)

In [11]:
df['disease_class'].unique()

array(['Cancer', 'COPD/CHF/Cirrhosis', 'ARF/MOSF', 'Coma'], dtype=object)

In [12]:
df['income_range'].unique()

array(['$11-$25k', 'under $11k', nan, '$25-$50k', '>$50k'], dtype=object)

In [13]:
df['race_ethnicity'].unique()

array(['other', 'white', 'black', 'hispanic', 'asian', nan], dtype=object)

In [14]:
df['cancer_status'].unique()

array(['metastatic', 'no', 'yes'], dtype=object)

In [15]:
df['do_not_resuscitate_status'].unique()

array(['no dnr', nan, 'dnr after sadm', 'dnr before sadm'], dtype=object)

In [16]:
disease_group_mapping = {
    'Lung Cancer': 1,
    'Cirrhosis': 2,
    'ARF/MOSF w/Sepsis': 3,
    'Coma': 4,
    'CHF': 5,
    'Colon Cancer': 6,
    'COPD': 7,
    'MOSF w/Malig': 8
}

disease_class_mapping = {
    'Cancer': 1,
    'COPD/CHF/Cirrhosis': 2,
    'ARF/MOSF': 3,
    'Coma': 4
}

income_range_mapping = {
    '$11-$25k': 1,
    'under $11k': 2,
    '$25-$50k': 3,
    '>$50k': 4
}

race_ethnicity_mapping = {
    'other': 1,
    'white': 2,
    'black': 3,
    'hispanic': 4,
    'asian': 5
}

cancer_status_mapping = {
    'metastatic': 1,
    'no': 0,
    'yes': 2
}

dnr_status_mapping = {
    'no dnr': 0,
    'dnr after sadm': 1,
    'dnr before sadm': 2
}

In [17]:
df['disease_group'] = df['disease_group'].map(disease_group_mapping)
df['disease_class'] = df['disease_class'].map(disease_class_mapping)
df['income_range'] = df['income_range'].map(income_range_mapping)
df['race_ethnicity'] = df['race_ethnicity'].map(race_ethnicity_mapping)
df['cancer_status'] = df['cancer_status'].map(cancer_status_mapping)
df['do_not_resuscitate_status'] = df['do_not_resuscitate_status'].map(dnr_status_mapping)

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 42 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   age_years                       9105 non-null   float64
 1   gender                          9105 non-null   int64
 2   disease_group                   9105 non-null   int64
 3   disease_class                   9105 non-null   int64
 4   num_comorbidities               9105 non-null   int64
 5   education_years                 7471 non-null   float64
 6   income_range                    6123 non-null   float64
 7   coma_score                      9104 non-null   float64
 8   hospital_charges                8933 non-null   float64
 9   total_cost_to_charges_ratio     8217 non-null   float64
 10  total_micro_cost                5630 non-null   float64
 11  avg_tiss_score                  9023 non-null   float64
 12  race_ethnicity                  9063 non-null   float64
 13  support_physiology_score        9104 non-null   float64
 14  apache_score                    9104 non-null   float64
 15  survival_2_months               9104 non-null   float64
 16  survival_6_months               9104 non-null   float64
 17  hospital_day_of_study_entry     9105 non-null   int64
 18  has_diabetes                    9105 non-null   int64
 19  has_dementia                    9105 non-null   int64
 20  cancer_status                   9105 non-null   int64
 21  physician_survival_2_months     7456 non-null   float64
 22  physician_survival_6_months     7472 non-null   float64
 23  do_not_resuscitate_status       9075 non-null   float64
 24  day_of_dnr_order                9075 non-null   float64
 25  mean_arterial_bp                9104 non-null   float64
 26  white_blood_cell_count          8893 non-null   float64
 27  heart_rate                      9104 non-null   float64
 28  respiratory_rate                9104 non-null   float64
 29  body_temperature_celsius        9104 non-null   float64
 30  pao2_fio2_ratio                 6780 non-null   float64
 31  serum_albumin                   5733 non-null   float64
 32  bilirubin_level                 6504 non-null   float64
 33  serum_creatinine                9038 non-null   float64
 34  serum_sodium                    9104 non-null   float64
 35  blood_ph                        6821 non-null   float64
 36  glucose_level                   4605 non-null   float64
 37  blood_urea_nitrogen             4753 non-null   float64
 38  urine_output                    4243 non-null   float64
 39  adl_index_patient               3464 non-null   float64
 40  adl_index_surrogate             6238 non-null   float64
 41  calibrated_adl_index_surrogate  9105 non-null   float64
dtypes: float64(34), int64(8)
memory usage: 2.9 MB

## Patient Risk Classifier

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Prepare data
X = df[['age_years', 'disease_group', 'disease_class', 'income_range', 'coma_score', 'hospital_charges', 'apache_score']]
y = df['survival_2_months'].apply(lambda x: 1 if x == 1 else 0)  # Binary survival outcome

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

# Evaluate
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

## Survival Analysis

In [ ]:
from lifelines import CoxPHFitter
from lifelines import KaplanMeierFitter

# Prepare data for Cox model
cox_data = df[['age_years', 'disease_group', 'income_range', 'hospital_charges', 'apache_score', 'survival_2_months']]
cox_data['event'] = cox_data['survival_2_months'].apply(lambda x: 1 if x == 1 else 0)

# Fit Cox Proportional Hazards Model
cph = CoxPHFitter()
cph.fit(cox_data, duration_col='age_years', event_col='event')
cph.print_summary()

# Kaplan-Meier Estimator
kmf = KaplanMeierFitter()
kmf.fit(durations=cox_data['age_years'], event_observed=cox_data['event'])
kmf.plot()

## Cost Prediction

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Prepare data
X = df[['age_years', 'num_comorbidities', 'disease_group', 'income_range', 'hospital_charges', 'support_physiology_score', 'apache_score']]
y = df['hospital_charges']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model
model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Evaluate
print("Mean Squared Error: ", mean_squared_error(y_test, y_pred))