In [1]:
import pandas as pd

In [2]:
try:
    # Try loading the file from your laptop path
    df = pd.read_csv('C:/Users/Eugene/Documents/GitHub/TSDN-BoyWithLuv/Source/Prototype/New/front_service_1.csv')
except FileNotFoundError:
    # If the file is not found, try loading from the PC path
    df = pd.read_csv('C:/Users/user/OneDrive/Documents/GitHub/TSDN-BoyWithLuv/Source/Prototype/New/front_service_1.csv')

In [3]:
df.head()

,death,hospdead,sfdm2,age,sex,dzgroup,dzclass,num.co,edu,income,...,bili,crea,sod,ph,glucose,bun,urine,adlp,adls,adlsc
0,0,0,NaN,62.84998,male,Lung Cancer,Cancer,0,11.0,$11-$25k,...,0.199982,1.199951,141.0,7.459961,NaN,NaN,NaN,7.0,7.0,7.0
1,1,1,<2 mo. follow-up,60.33899,female,Cirrhosis,COPD/CHF/Cirrhosis,2,12.0,$11-$25k,...,NaN,5.500000,132.0,7.250000,NaN,NaN,NaN,NaN,1.0,1.0
2,1,0,<2 mo. follow-up,52.74698,female,Cirrhosis,COPD/CHF/Cirrhosis,2,12.0,under $11k,...,2.199707,2.000000,134.0,7.459961,NaN,NaN,NaN,1.0,0.0,0.0
3,1,0,no(M2 and SIP pres),42.38498,female,Lung Cancer,Cancer,2,11.0,under $11k,...,NaN,0.799927,139.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0
4,0,0,no(M2 and SIP pres),79.88495,female,ARF/MOSF w/Sepsis,ARF/MOSF,1,NaN,NaN,...,NaN,0.799927,143.0,7.509766,NaN,NaN,NaN,NaN,2.0,2.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 45 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   death     9105 non-null   int64
 1   hospdead  9105 non-null   int64
 2   sfdm2     7705 non-null   object
 3   age       9105 non-null   float64
 4   sex       9105 non-null   object
 5   dzgroup   9105 non-null   object
 6   dzclass   9105 non-null   object
 7   num.co    9105 non-null   int64
 8   edu       7471 non-null   float64
 9   income    6123 non-null   object
 10  scoma     9104 non-null   float64
 11  charges   8933 non-null   float64
 12  totcst    8217 non-null   float64
 13  totmcst   5630 non-null   float64
 14  avtisst   9023 non-null   float64
 15  race      9063 non-null   object
 16  sps       9104 non-null   float64
 17  aps       9104 non-null   float64
 18  surv2m    9104 non-null   float64
 19  surv6m    9104 non-null   float64
 20  hday      9105 non-null   int64
 21  diabetes  9105 non-null   int64
 22  dementia  9105 non-null   int64
 23  ca        9105 non-null   object
 24  prg2m     7456 non-null   float64
 25  prg6m     7472 non-null   float64
 26  dnr       9075 non-null   object
 27  dnrday    9075 non-null   float64
 28  meanbp    9104 non-null   float64
 29  wblc      8893 non-null   float64
 30  hrt       9104 non-null   float64
 31  resp      9104 non-null   float64
 32  temp      9104 non-null   float64
 33  pafi      6780 non-null   float64
 34  alb       5733 non-null   float64
 35  bili      6504 non-null   float64
 36  crea      9038 non-null   float64
 37  sod       9104 non-null   float64
 38  ph        6821 non-null   float64
 39  glucose   4605 non-null   float64
 40  bun       4753 non-null   float64
 41  urine     4243 non-null   float64
 42  adlp      3464 non-null   float64
 43  adls      6238 non-null   float64
 44  adlsc     9105 non-null   float64
dtypes: float64(31), int64(6), object(8)
memory usage: 3.1+ MB

In [5]:
df.rename(columns={
    'death':'death_outside_hospital',
    'hospdead':'death_inside_hospital',
    'age': 'age_years',
    'sex': 'gender',
    'dzgroup': 'disease_group',
    'dzclass': 'disease_class',
    'num.co': 'num_comorbidities',
    'edu': 'education_years',
    'income': 'income_range',
    'scoma': 'coma_score',
    'charges': 'hospital_charges',
    'totcst': 'total_cost_to_charges_ratio',
    'totmcst': 'total_micro_cost',
    'avtisst': 'avg_tiss_score',
    'race': 'race_ethnicity',
    'sps': 'support_physiology_score',
    'aps': 'apache_score',
    'surv2m': 'survival_2_months',
    'surv6m': 'survival_6_months',
    'hday': 'hospital_day_of_study_entry',
    'diabetes': 'has_diabetes',
    'dementia': 'has_dementia',
    'ca': 'cancer_status',
    'prg2m': 'physician_survival_2_months',
    'prg6m': 'physician_survival_6_months',
    'dnr': 'do_not_resuscitate_status',
    'dnrday': 'day_of_dnr_order',
    'meanbp': 'mean_arterial_bp',
    'wblc': 'white_blood_cell_count',
    'hrt': 'heart_rate',
    'resp': 'respiratory_rate',
    'temp': 'body_temperature_celsius',
    'pafi': 'pao2_fio2_ratio',
    'alb': 'serum_albumin',
    'bili': 'bilirubin_level',
    'crea': 'serum_creatinine',
    'sod': 'serum_sodium',
    'ph': 'blood_ph',
    'glucose': 'glucose_level',
    'bun': 'blood_urea_nitrogen',
    'urine': 'urine_output',
    'adlp': 'adl_index_patient',
    'adls': 'adl_index_surrogate',
    'sfdm2': 'functional_disability_level',
    'adlsc': 'calibrated_adl_index_surrogate'
}, inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   death_outside_hospital          9105 non-null   int64
 1   death_inside_hospital           9105 non-null   int64
 2   functional_disability_level     7705 non-null   object
 3   age_years                       9105 non-null   float64
 4   gender                          9105 non-null   object
 5   disease_group                   9105 non-null   object
 6   disease_class                   9105 non-null   object
 7   num_comorbidities               9105 non-null   int64
 8   education_years                 7471 non-null   float64
 9   income_range                    6123 non-null   object
 10  coma_score                      9104 non-null   float64
 11  hospital_charges                8933 non-null   float64
 12  total_cost_to_charges_ratio     8217 non-null   float64
 13  total_micro_cost                5630 non-null   float64
 14  avg_tiss_score                  9023 non-null   float64
 15  race_ethnicity                  9063 non-null   object
 16  support_physiology_score        9104 non-null   float64
 17  apache_score                    9104 non-null   float64
 18  survival_2_months               9104 non-null   float64
 19  survival_6_months               9104 non-null   float64
 20  hospital_day_of_study_entry     9105 non-null   int64
 21  has_diabetes                    9105 non-null   int64
 22  has_dementia                    9105 non-null   int64
 23  cancer_status                   9105 non-null   object
 24  physician_survival_2_months     7456 non-null   float64
 25  physician_survival_6_months     7472 non-null   float64
 26  do_not_resuscitate_status       9075 non-null   object
 27  day_of_dnr_order                9075 non-null   float64
 28  mean_arterial_bp                9104 non-null   float64
 29  white_blood_cell_count          8893 non-null   float64
 30  heart_rate                      9104 non-null   float64
 31  respiratory_rate                9104 non-null   float64
 32  body_temperature_celsius        9104 non-null   float64
 33  pao2_fio2_ratio                 6780 non-null   float64
 34  serum_albumin                   5733 non-null   float64
 35  bilirubin_level                 6504 non-null   float64
 36  serum_creatinine                9038 non-null   float64
 37  serum_sodium                    9104 non-null   float64
 38  blood_ph                        6821 non-null   float64
 39  glucose_level                   4605 non-null   float64
 40  blood_urea_nitrogen             4753 non-null   float64
 41  urine_output                    4243 non-null   float64
 42  adl_index_patient               3464 non-null   float64
 43  adl_index_surrogate             6238 non-null   float64
 44  calibrated_adl_index_surrogate  9105 non-null   float64
dtypes: float64(31), int64(6), object(8)
memory usage: 3.1+ MB


| Variable Name              | Role     | Type       | Demographic | Description                                                                                                                                  | Units       | Missing Values |
|----------------------------|----------|------------|-------------|----------------------------------------------------------------------------------------------------------------------------------------------|-------------|-----------------|
| id                         | ID       | Integer    |             | Unique identifier                                                                                                                            |             | no              |
| age_years                  | Feature  | Continuous | Age         | Age of the patients in years                                                                                                                 | years       | no              |
| death_outside_hospital     | Target   | Continuous |             | Death at any time up to National Death Index (NDI) data on December 31, 1994. Some patients are discharged before the end of the study.      |             | no              |
| gender                     | Feature  | Categorical| Sex         | Gender of the patient. Listed values are {male, female}.                                                                                     |             | no              |
| death_inside_hospital      | Target   | Binary     |             | Death in hospital                                                                                                                            |             | no              |
| slos                       | Other    | Continuous |             | Days from Study Entry to Discharge                                                                                                           | days        | no              |
| d.time                     | Other    | Continuous |             | Days of follow-up                                                                                                                            | days        | no              |
| disease_group              | Feature  | Categorical|             | Disease subcategory among ARF/MOSF w/Sepsis, CHF, COPD, Cirrhosis, Colon Cancer, Coma, Lung Cancer, MOSF w/Malig.                            |             | no              |
| disease_class              | Feature  | Categorical|             | Disease category among "ARF/MOSF", "COPD/CHF/Cirrhosis", "Cancer", "Coma".                                                                   |             | no              |
| num_comorbidities          | Feature  | Continuous |             | Number of simultaneous diseases exhibited by the patient. Higher values indicate worse condition and lower chances of survival.             |             | no              |
| education_years            | Feature  | Categorical| Education   | Years of education                                                                                                                           | years       | yes             |
| income_range               | Feature  | Categorical| Income      | Income of the patient. Listed values are {"$11-$25k", "$25-$50k", ">$50k", "under $11k"}.                                                   |             | yes             |
| coma_score                 | Feature  | Continuous |             | SUPPORT day 3 Coma Score based on Glasgow scale                                                                                              |             | yes             |
| hospital_charges           | Feature  | Continuous |             | Hospital charges                                                                                                                             |             | yes             |
| total_cost_to_charges_ratio| Feature  | Continuous |             | Total ratio of costs to charges (RCC)                                                                                                        |             | yes             |
| total_micro_cost           | Feature  | Continuous |             | Total micro cost                                                                                                                             |             | yes             |
| avg_tiss_score             | Feature  | Continuous |             | Average TISS score, days 3-25, where TISS is a method for calculating ICU and IMCU costs                                                     |             | yes             |
| race_ethnicity             | Feature  | Categorical| Race        | Race of the patient. Listed values are {asian, black, hispanic, missing, other, white}.                                                      |             | yes             |
| support_physiology_score   | Feature  | Continuous |             | SUPPORT physiology score on day 3                                                                                                            |             | yes             |
| apache_score               | Feature  | Continuous |             | APACHE III day 3 physiology score                                                                                                            |             | yes             |
| survival_2_months          | Feature  | Continuous |             | SUPPORT model 2-month survival estimate at day 3                                                                                             |             | yes             |
| survival_6_months          | Feature  | Continuous |             | SUPPORT model 6-month survival estimate at day 3                                                                                             |             | yes             |
| hospital_day_of_study_entry| Feature  | Integer    |             | Day in hospital when patient entered study                                                                                                   | days        | no              |
| has_diabetes               | Feature  | Continuous |             | Whether the patient has diabetes as a comorbidity (Y/N)                                                                                      |             | no              |
| has_dementia               | Feature  | Continuous |             | Whether the patient has dementia as a comorbidity (Y/N)                                                                                      |             | no              |
| cancer_status              | Feature  | Categorical|             | Whether the patient has cancer (yes), if it has metastasized, or if the patient is healthy (no)                                              |             | no              |
| physician_survival_2_months| Feature  | Continuous |             | Physician's 2-month survival estimate for the patient                                                                                        |             | yes             |
| physician_survival_6_months| Feature  | Categorical|             | Physician's 6-month survival estimate for the patient                                                                                        |             | yes             |
| do_not_resuscitate_status  | Feature  | Categorical|             | Do not resuscitate (DNR) status. Possible values: dnr after sadm, dnr before sadm, missing, no dnr                                           |             | yes             |
| day_of_dnr_order           | Feature  | Continuous |             | Day of DNR order (<0 if before study)                                                                                                        | days        | yes             |
| mean_arterial_bp           | Feature  | Continuous |             | Mean arterial blood pressure measured at day 3                                                                                               | mm Hg       | yes             |
| white_blood_cell_count     | Feature  | Continuous |             | White blood cell count (in thousands) measured at day 3                                                                                      | 10^3 cells  | yes             |
| heart_rate                 | Feature  | Continuous |             | Heart rate measured at day 3                                                                                                                 | bpm         | yes             |
| respiratory_rate           | Feature  | Continuous |             | Respiration rate measured at day 3                                                                                                           | breaths/min | yes             |
| body_temperature_celsius   | Feature  | Continuous |             | Body temperature measured at day 3                                                                                                           | Celsius     | no              |
| pao2_fio2_ratio            | Feature  | Continuous |             | PaO2/FiO2 ratio measured at day 3, a clinical indicator of hypoxemia                                                                        |             | yes             |
| serum_albumin              | Feature  | Continuous |             | Serum albumin levels measured at day 3                                                                                                       | g/dL        | yes             |
| bilirubin_level            | Feature  | Continuous |             | Bilirubin levels measured at day 3                                                                                                           | mg/dL       | yes             |
| serum_creatinine           | Feature  | Continuous |             | Serum creatinine levels measured at day 3                                                                                                    | mg/dL       | yes             |
| serum_sodium               | Feature  | Continuous |             | Serum sodium concentration measured at day 3                                                                                                 | mmol/L      | yes             |
| blood_ph                   | Feature  | Continuous |             | Arterial blood pH, usually between 7.35 and 7.45                                                                                            |             | yes             |
| glucose_level              | Feature  | Integer    |             | Glucose levels measured at day 3                                                                                                             | mg/dL       | yes             |
| blood_urea_nitrogen        | Feature  | Integer    |             | Blood urea nitrogen levels measured at day 3                                                                                                 | mg/dL       | yes             |
| urine_output               | Feature  | Integer    |             | Urine output measured at day 3                                                                                                               | mL          | yes             |
| adl_index_patient          | Feature  | Categorical|             | Index of Activities of Daily Living (ADL) as reported by the patient, higher values indicate better survival prospects                        |             | yes             |
| adl_index_surrogate        | Feature  | Continuous |             | ADL Index as reported by a surrogate (e.g., family member), higher values indicate better survival prospects                                  |             | yes             |
| functional_disability_level| Target   | Categorical|             | Functional disability level of the patient on a 1-5 scale. Correlates with ADL columns                                                        |             | yes             |
| calibrated_adl_index_surrogate| Feature | Continuous |             | Imputed ADL calibrated to surrogate                                                                                                         |             | no              |

In [7]:
df.describe(include=object)

,functional_disability_level,gender,disease_group,disease_class,income_range,race_ethnicity,cancer_status,do_not_resuscitate_status
count,7705,9105,9105,9105,6123,9063,9105,9075
unique,5,2,8,4,4,5,3,3
top,<2 mo. follow-up,male,ARF/MOSF w/Sepsis,ARF/MOSF,under $11k,white,no,no dnr
freq,3123,5125,3515,4227,2855,7191,5995,5880

In [8]:
df['functional_disability_level'].unique()

array([nan, '<2 mo. follow-up', 'no(M2 and SIP pres)', 'SIP>=30',
       'adl>=4 (>=5 if sur)', 'Coma or Intub'], dtype=object)

In [9]:
df['gender'].unique()

array(['male', 'female'], dtype=object)

In [10]:
df['disease_group'].unique()

array(['Lung Cancer', 'Cirrhosis', 'ARF/MOSF w/Sepsis', 'Coma', 'CHF',
       'Colon Cancer', 'COPD', 'MOSF w/Malig'], dtype=object)

In [11]:
df['disease_class'].unique()

array(['Cancer', 'COPD/CHF/Cirrhosis', 'ARF/MOSF', 'Coma'], dtype=object)

In [12]:
df['income_range'].unique()

array(['$11-$25k', 'under $11k', nan, '$25-$50k', '>$50k'], dtype=object)

In [13]:
df['race_ethnicity'].unique()

array(['other', 'white', 'black', 'hispanic', 'asian', nan], dtype=object)

In [14]:
df['cancer_status'].unique()

array(['metastatic', 'no', 'yes'], dtype=object)

In [15]:
df['do_not_resuscitate_status'].unique()

array(['no dnr', nan, 'dnr after sadm', 'dnr before sadm'], dtype=object)

In [16]:
functional_disability_level_mapping = {
    '<2 mo. follow-up': 1, 
    'no(M2 and SIP pres)': 2, 
    'SIP>=30': 3,
    'adl>=4 (>=5 if sur)': 4, 
    'Coma or Intub':5 
}

gender_mapping = {
    'male': 1, 
    'female': 2
}

disease_group_mapping = {
    'Lung Cancer': 1,
    'Cirrhosis': 2,
    'ARF/MOSF w/Sepsis': 3,
    'Coma': 4,
    'CHF': 5,
    'Colon Cancer': 6,
    'COPD': 7,
    'MOSF w/Malig': 8
}

disease_class_mapping = {
    'Cancer': 1,
    'COPD/CHF/Cirrhosis': 2,
    'ARF/MOSF': 3,
    'Coma': 4
}

income_range_mapping = {
    '$11-$25k': 1,
    'under $11k': 2,
    '$25-$50k': 3,
    '>$50k': 4
}

race_ethnicity_mapping = {
    'other': 1,
    'white': 2,
    'black': 3,
    'hispanic': 4,
    'asian': 5
}

cancer_status_mapping = {
    'metastatic': 1,
    'no': 0,
    'yes': 2
}

dnr_status_mapping = {
    'no dnr': 0,
    'dnr after sadm': 1,
    'dnr before sadm': 2
}

In [17]:
df['disease_group'] = df['disease_group'].map(disease_group_mapping)
df['disease_class'] = df['disease_class'].map(disease_class_mapping)
df['income_range'] = df['income_range'].map(income_range_mapping)
df['race_ethnicity'] = df['race_ethnicity'].map(race_ethnicity_mapping)
df['cancer_status'] = df['cancer_status'].map(cancer_status_mapping)
df['do_not_resuscitate_status'] = df['do_not_resuscitate_status'].map(dnr_status_mapping)

In [18]:
df['functional_disability_level'] = df['functional_disability_level'].map(functional_disability_level_mapping)
df['gender'] = df['gender'].map(gender_mapping)

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9105 entries, 0 to 9104
Data columns (total 45 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   death_outside_hospital          9105 non-null   int64
 1   death_inside_hospital           9105 non-null   int64
 2   functional_disability_level     7705 non-null   float64
 3   age_years                       9105 non-null   float64
 4   gender                          9105 non-null   int64
 5   disease_group                   9105 non-null   int64
 6   disease_class                   9105 non-null   int64
 7   num_comorbidities               9105 non-null   int64
 8   education_years                 7471 non-null   float64
 9   income_range                    6123 non-null   float64
 10  coma_score                      9104 non-null   float64
 11  hospital_charges                8933 non-null   float64
 12  total_cost_to_charges_ratio     8217 non-null   float64
 13  total_micro_cost                5630 non-null   float64
 14  avg_tiss_score                  9023 non-null   float64
 15  race_ethnicity                  9063 non-null   float64
 16  support_physiology_score        9104 non-null   float64
 17  apache_score                    9104 non-null   float64
 18  survival_2_months               9104 non-null   float64
 19  survival_6_months               9104 non-null   float64
 20  hospital_day_of_study_entry     9105 non-null   int64
 21  has_diabetes                    9105 non-null   int64
 22  has_dementia                    9105 non-null   int64
 23  cancer_status                   9105 non-null   int64
 24  physician_survival_2_months     7456 non-null   float64
 25  physician_survival_6_months     7472 non-null   float64
 26  do_not_resuscitate_status       9075 non-null   float64
 27  day_of_dnr_order                9075 non-null   float64
 28  mean_arterial_bp                9104 non-null   float64
 29  white_blood_cell_count          8893 non-null   float64
 30  heart_rate                      9104 non-null   float64
 31  respiratory_rate                9104 non-null   float64
 32  body_temperature_celsius        9104 non-null   float64
 33  pao2_fio2_ratio                 6780 non-null   float64
 34  serum_albumin                   5733 non-null   float64
 35  bilirubin_level                 6504 non-null   float64
 36  serum_creatinine                9038 non-null   float64
 37  serum_sodium                    9104 non-null   float64
 38  blood_ph                        6821 non-null   float64
 39  glucose_level                   4605 non-null   float64
 40  blood_urea_nitrogen             4753 non-null   float64
 41  urine_output                    4243 non-null   float64
 42  adl_index_patient               3464 non-null   float64
 43  adl_index_surrogate             6238 non-null   float64
 44  calibrated_adl_index_surrogate  9105 non-null   float64
dtypes: float64(35), int64(10)
memory usage: 3.1 MB

In [20]:
df

,death_outside_hospital,death_inside_hospital,functional_disability_level,age_years,gender,disease_group,disease_class,num_comorbidities,education_years,income_range,...,bilirubin_level,serum_creatinine,serum_sodium,blood_ph,glucose_level,blood_urea_nitrogen,urine_output,adl_index_patient,adl_index_surrogate,calibrated_adl_index_surrogate
0,0,0,NaN,62.84998,1,1,1,0,11.0,1.0,...,0.199982,1.199951,141.0,7.459961,NaN,NaN,NaN,7.0,7.0,7.000000
1,1,1,1.0,60.33899,2,2,2,2,12.0,1.0,...,NaN,5.500000,132.0,7.250000,NaN,NaN,NaN,NaN,1.0,1.000000
2,1,0,1.0,52.74698,2,2,2,2,12.0,2.0,...,2.199707,2.000000,134.0,7.459961,NaN,NaN,NaN,1.0,0.0,0.000000
3,1,0,2.0,42.38498,2,1,1,2,11.0,2.0,...,NaN,0.799927,139.0,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
4,0,0,2.0,79.88495,2,3,3,1,NaN,NaN,...,NaN,0.799927,143.0,7.509766,NaN,NaN,NaN,NaN,2.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9100,0,0,NaN,66.07300,1,3,3,1,8.0,NaN,...,0.399963,1.099854,131.0,7.459961,188.0,21.0,NaN,NaN,0.0,0.000000
9101,0,0,NaN,55.15399,2,4,4,1,11.0,NaN,...,NaN,5.899414,135.0,7.289062,190.0,49.0,0.0,NaN,0.0,0.000000
9102,0,0,NaN,70.38196,1,3,3,1,NaN,NaN,...,0.399963,2.699707,139.0,7.379883,189.0,60.0,3900.0,NaN,NaN,2.525391
9103,1,1,1.0,47.01999,1,8,3,1,13.0,NaN,...,0.399963,3.500000,135.0,7.469727,246.0,55.0,NaN,NaN,0.0,0.000000
9104,1,0,2.0,81.53894,2,3,3,1,8.0,1.0,...,0.599976,1.199951,137.0,7.289062,187.0,15.0,NaN,0.0,NaN,0.494751

In [43]:
df['age_years'] = df['age_years'].astype(int)

In [44]:
df

,death_outside_hospital,death_inside_hospital,functional_disability_level,age_years,gender,disease_group,disease_class,num_comorbidities,education_years,income_range,...,bilirubin_level,serum_creatinine,serum_sodium,blood_ph,glucose_level,blood_urea_nitrogen,urine_output,adl_index_patient,adl_index_surrogate,calibrated_adl_index_surrogate
0,0,0,NaN,62,1,1,1,0,11.0,1.0,...,0.199982,1.199951,141.0,7.459961,NaN,NaN,NaN,7.0,7.0,7.000000
1,1,1,1.0,60,2,2,2,2,12.0,1.0,...,NaN,5.500000,132.0,7.250000,NaN,NaN,NaN,NaN,1.0,1.000000
2,1,0,1.0,52,2,2,2,2,12.0,2.0,...,2.199707,2.000000,134.0,7.459961,NaN,NaN,NaN,1.0,0.0,0.000000
3,1,0,2.0,42,2,1,1,2,11.0,2.0,...,NaN,0.799927,139.0,NaN,NaN,NaN,NaN,0.0,0.0,0.000000
4,0,0,2.0,79,2,3,3,1,NaN,NaN,...,NaN,0.799927,143.0,7.509766,NaN,NaN,NaN,NaN,2.0,2.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9100,0,0,NaN,66,1,3,3,1,8.0,NaN,...,0.399963,1.099854,131.0,7.459961,188.0,21.0,NaN,NaN,0.0,0.000000
9101,0,0,NaN,55,2,4,4,1,11.0,NaN,...,NaN,5.899414,135.0,7.289062,190.0,49.0,0.0,NaN,0.0,0.000000
9102,0,0,NaN,70,1,3,3,1,NaN,NaN,...,0.399963,2.699707,139.0,7.379883,189.0,60.0,3900.0,NaN,NaN,2.525391
9103,1,1,1.0,47,1,8,3,1,13.0,NaN,...,0.399963,3.500000,135.0,7.469727,246.0,55.0,NaN,NaN,0.0,0.000000
9104,1,0,2.0,81,2,3,3,1,8.0,1.0,...,0.599976,1.199951,137.0,7.289062,187.0,15.0,NaN,0.0,NaN,0.494751

In [21]:
df.isnull().sum()

death_outside_hospital               0
death_inside_hospital                0
functional_disability_level       1400
age_years                            0
gender                               0
disease_group                        0
disease_class                        0
num_comorbidities                    0
education_years                   1634
income_range                      2982
coma_score                           1
hospital_charges                   172
total_cost_to_charges_ratio        888
total_micro_cost                  3475
avg_tiss_score                      82
race_ethnicity                      42
support_physiology_score             1
apache_score                         1
survival_2_months                    1
survival_6_months                    1
hospital_day_of_study_entry          0
has_diabetes                         0
has_dementia                         0
cancer_status                        0
physician_survival_2_months       1649
physician_survival_6_months       1633
do_not_resuscitate_status           30
day_of_dnr_order                    30
mean_arterial_bp                     1
white_blood_cell_count             212
heart_rate                           1
respiratory_rate                     1
body_temperature_celsius             1
pao2_fio2_ratio                   2325
serum_albumin                     3372
bilirubin_level                   2601
serum_creatinine                    67
serum_sodium                         1
blood_ph                          2284
glucose_level                     4500
blood_urea_nitrogen               4352
urine_output                      4862
adl_index_patient                 5641
adl_index_surrogate               2867
calibrated_adl_index_surrogate       0
dtype: int64

In [22]:
df.corr()

,death_outside_hospital,death_inside_hospital,functional_disability_level,age_years,gender,disease_group,disease_class,num_comorbidities,education_years,income_range,...,bilirubin_level,serum_creatinine,serum_sodium,blood_ph,glucose_level,blood_urea_nitrogen,urine_output,adl_index_patient,adl_index_surrogate,calibrated_adl_index_surrogate
death_outside_hospital,1.000000,0.404793,-0.338430,0.179230,-0.032113,0.013956,-0.083042,0.068634,-0.002943,-0.008700,...,0.029658,0.026705,-0.018409,-0.008592,0.002928,0.019307,-0.004537,0.107614,0.146124,0.154760
death_inside_hospital,0.404793,1.000000,-0.552265,0.039354,0.011819,-0.000816,0.336788,-0.077746,0.015941,-0.007010,...,0.167734,0.098724,0.029903,-0.038199,0.012128,0.036711,-0.016647,0.099518,0.090047,0.126350
functional_disability_level,-0.338430,-0.552265,1.000000,-0.037168,0.038140,-0.018867,-0.047247,0.024846,-0.013634,-0.018229,...,-0.097119,-0.044970,0.022793,0.012919,-0.010928,-0.023873,0.016263,0.147918,0.065606,0.005875
age_years,0.179230,0.039354,-0.037168,1.000000,0.043074,0.104204,-0.043190,0.127986,-0.135537,-0.087226,...,-0.132711,0.001910,0.013980,-0.020398,-0.009136,0.023265,-0.045094,0.043799,0.096926,0.115379
gender,-0.032113,0.011819,0.038140,0.043074,1.000000,0.037528,0.061599,-0.045327,0.004425,-0.029906,...,-0.023970,-0.026569,0.014647,-0.022770,0.007165,0.002279,-0.027688,0.109552,0.095220,0.078473
disease_group,0.013956,-0.000816,-0.018867,0.104204,0.037528,1.000000,0.041620,0.131792,-0.007704,-0.012724,...,-0.071877,-0.020241,-0.000921,-0.075509,-0.015217,-0.015667,-0.008864,-0.020345,-0.004729,-0.008951
disease_class,-0.083042,0.336788,-0.047247,-0.043190,0.061599,0.041620,1.000000,-0.174165,-0.013734,-0.047004,...,0.062754,0.121401,0.065530,0.022927,-0.000646,0.024191,-0.014047,0.043657,0.046641,0.065915
num_comorbidities,0.068634,-0.077746,0.024846,0.127986,-0.045327,0.131792,-0.174165,1.000000,-0.109775,-0.097490,...,0.000581,0.033319,-0.025437,-0.020673,0.007348,0.030550,-0.033966,0.077699,0.142791,0.142836
education_years,-0.002943,0.015941,-0.013634,-0.135537,0.004425,-0.007704,-0.013734,-0.109775,1.000000,0.331242,...,0.057199,0.008913,-0.005265,0.022757,0.011323,0.026304,0.015514,-0.088278,-0.081200,-0.067644
income_range,-0.008700,-0.007010,-0.018229,-0.087226,-0.029906,-0.012724,-0.047004,-0.097490,0.331242,1.000000,...,0.020396,0.003164,0.002300,0.006839,0.031196,0.029373,-0.005469,-0.091350,-0.062858,-0.053693
coma_score,0.135986,0.379582,-0.173338,0.006557,0.040458,-0.053769,0.459014,-0.126215,-0.000482,-0.010692,...,0.107912,0.068842,0.081112,-0.002444,0.027356,0.021288,0.005098,0.042039,0.074462,0.126339
hospital_charges,-0.014402,0.187214,0.125774,-0.167864,0.015594,-0.075840,0.286062,-0.108838,0.112803,0.075558,...,0.216148,0.090203,0.051826,0.042832,0.065650,0.089898,0.030887,0.048980,-0.013853,0.008519
total_cost_to_charges_ratio,-0.022615,0.191738,0.151087,-0.155399,0.005316,-0.080638,0.316716,-0.147501,0.090229,0.049459,...,0.181218,0.106066,0.052555,0.043308,0.031022,0.049289,0.013957,0.048582,-0.012505,-0.001398
total_micro_cost,-0.020465,0.176864,0.150392,-0.134466,0.022932,-0.086132,0.324372,-0.144888,0.099033,0.046020,...,0.142647,0.058819,0.073710,0.050759,0.034375,0.047969,0.017146,0.036943,-0.019607,-0.017195
avg_tiss_score,0.117293,0.552508,-0.193826,-0.133693,0.002450,-0.040073,0.543054,-0.164272,0.024131,0.018063,...,0.167556,0.119248,0.058566,-0.044137,0.028713,0.022412,0.003930,0.034947,0.005213,0.029789
race_ethnicity,-0.032990,0.013661,0.016849,-0.164419,0.035040,-0.019196,0.040668,-0.005748,-0.045583,-0.044861,...,0.065675,0.022243,0.005700,-0.007487,0.025775,-0.005013,0.027579,0.015239,0.023724,0.011946
support_physiology_score,0.156346,0.462578,-0.239691,-0.115444,-0.008252,0.009359,0.369667,-0.048492,0.025665,-0.006217,...,0.268588,0.182754,-0.006976,-0.087938,0.014409,0.060703,-0.013512,0.140358,0.072857,0.093739
apache_score,0.156866,0.475855,-0.225558,-0.032576,-0.006341,0.041843,0.449397,0.016470,0.001937,-0.014608,...,0.255383,0.238074,0.039144,-0.093098,0.026284,0.076319,-0.032141,0.108242,0.076004,0.104574
survival_2_months,-0.325049,-0.558111,0.323522,-0.158056,-0.020843,0.008064,-0.359098,0.099580,-0.023780,-0.012006,...,-0.217215,-0.143084,-0.018344,0.047926,-0.020703,-0.061301,0.010762,-0.124098,-0.106102,-0.151706
survival_6_months,-0.378247,-0.498079,0.321290,-0.197112,-0.010635,0.068371,-0.149242,0.086865,-0.030920,-0.025471,...,-0.198991,-0.116754,-0.000250,0.042589,-0.018461,-0.056765,0.008604,-0.104949,-0.105667,-0.148650
hospital_day_of_study_entry,0.063845,0.213804,-0.050497,-0.071923,0.015430,0.012152,0.252728,-0.080627,0.040076,0.005938,...,0.137615,0.048503,0.035464,0.007507,0.027068,0.047338,0.018459,-0.003707,0.004149,0.015543
has_diabetes,0.011940,-0.013186,0.040516,0.095958,0.044012,0.004563,0.066778,0.387569,-0.075112,-0.065223,...,-0.046207,0.062148,0.011064,-0.005164,0.026168,0.026961,-0.021065,0.047062,0.076998,0.066836
has_dementia,0.044391,0.025831,0.040038,0.195303,0.030727,-0.008406,0.086531,0.139526,-0.013413,-0.027200,...,-0.037431,-0.003330,0.030890,-0.021134,0.005009,-0.005303,-0.052464,0.050623,0.210618,0.253147
cancer_status,0.192693,0.047194,-0.095586,0.050905,-0.018259,0.184687,-0.161265,0.071851,0.072242,0.065617,...,-0.044045,-0.037523,-0.017205,-0.024989,0.004494,0.009282,-0.000978,-0.018678,0.009277,0.009974
physician_survival_2_months,-0.306923,-0.503983,0.311283,-0.084631,-0.020524,0.019481,-0.289284,0.063745,0.013826,0.024833,...,-0.125062,-0.069163,-0.026900,0.026201,-0.008146,-0.028007,0.007363,-0.155562,-0.141995,-0.161003
physician_survival_6_months,-0.383796,-0.430151,0.306907,-0.131794,-0.003461,0.020488,-0.103265,0.030098,-0.000537,0.003867,...,-0.102422,-0.044899,-0.006757,0.021243,-0.003017,-0.019230,0.005247,-0.140810,-0.147440,-0.163943
do_not_resuscitate_status,0.353017,0.511427,-0.328448,0.220512,0.059668,0.049035,0.177516,0.022066,-0.033833,-0.044823,...,0.073696,0.040749,0.021264,-0.035778,-0.022239,0.007067,-0.022954,0.174647,0.201261,0.213516
day_of_dnr_order,-0.146655,-0.055778,0.348597,-0.156809,0.001411,-0.088993,0.211305,-0.116699,0.036512,0.018880,...,0.036450,0.044524,0.024209,0.041905,0.015925,0.014761,0.016409,0.053419,-0.024609,-0.032161
mean_arterial_bp,-0.031753,-0.087594,0.055702,-0.040134,0.008201,-0.022643,-0.037934,-0.016713,-0.033463,-0.018129,...,-0.089808,-0.082644,0.061821,0.111367,0.032047,-0.132771,0.146455,-0.015114,-0.000387,-0.019441
white_blood_cell_count,-0.004825,0.069621,-0.018642,0.004311,0.016256,-0.042909,0.110451,-0.010753,-0.007368,-0.021721,...,0.064822,0.101784,0.007092,-0.041216,0.076767,0.137084,-0.085001,-0.007817,-0.012026,0.003048
heart_rate,-0.003841,0.095483,-0.018056,-0.126307,0.013193,0.004292,0.092757,-0.067751,-0.003417,0.010278,...,0.093213,0.009956,0.032480,0.016473,0.059581,0.027035,0.032396,0.007594,0.009409,0.017885
respiratory_rate,0.006331,0.020777,-0.011819,-0.021644,0.004783,0.027021,0.031643,0.011633,-0.025647,-0.001940,...,0.020302,-0.041844,0.025820,0.006114,0.019115,0.006989,0.020097,0.001821,0.007982,0.018133
body_temperature_celsius,-0.029459,0.069972,0.006218,-0.085966,0.005777,-0.027615,0.165148,-0.113781,0.028365,0.036187,...,0.024643,-0.008119,0.113453,0.060587,0.055823,-0.025892,0.103493,-0.046667,-0.016244,-0.006500
pao2_fio2_ratio,0.002258,-0.103693,0.042397,0.017296,0.044067,0.005745,-0.102444,0.074331,-0.028560,-0.029802,...,-0.044480,-0.017743,-0.043182,0.130045,-0.012839,-0.024747,-0.034091,0.033124,0.036191,0.020532
serum_albumin,0.014215,-0.143165,0.031943,0.082836,0.019634,0.068284,-0.174171,0.056395,-0.024726,0.000905,...,-0.138374,-0.072484,0.001562,0.008115,-0.061769,-0.085377,0.044820,-0.047742,-0.057766,-0.055302
bilirubin_level,0.029658,0.167734,-0.097119,-0.132711,-0.023970,-0.071877,0.062754,0.000581,0.057199,0.020396,...,1.000000,0.177619,0.031972,0.018412,0.016136,0.256575,-0.101965,0.044482,-0.010468,0.014834
serum_creatinine,0.026705,0.098724,-0.044970,0.001910,-0.026569,-0.020241,0.121401,0.033319,0.008913,0.003164,...,0.177619,1.000000,0.012015,-0.179351,0.073086,0.682695,-0.300737,0.006466,-0.014716,-0.007920
serum_sodium,-0.018409,0.029903,0.022793,0.013980,0.014647,-0.000921,0.065530,-0.025437,-0.005265,0.002300,...,0.031972,0.012015,1.000000,-0.037328,0.008623,0.100978,0.025606,-0.049315,0.014722,0.013440
blood_ph,-0.008592,-0.038199,0.012919,-0.020398,-0.022770,-0.075509,0.022927,-0.020673,0.022757,0.006839,...,0.018412,-0.179351,-0.037328,1.000000,-0.038336,-0.128310,0.136896,-0.008971,-0.012230,-0.013415
glucose_level,0.002928,0.012128,-0.010928,-0.009136,0.007165,-0.015217,-0.000646,0.007348,0.011323,0.031196,...,0.016136,0.073086,0.008623,-0.038336,1.000000,0.145294,0.005583,-0.041720,-0.009233,-0.003134
blood_urea_nitrogen,0.019307,0.036711,-0.023873,0.023265,0.002279,-0.015667,0.024191,0.030550,0.026304,0.029373,...,0.256575,0.682695,0.100978,-0.128310,0.145294,1.000000,-0.251596,0.016831,0.012491,0.014776
urine_output,-0.004537,-0.016647,0.016263,-0.045094,-0.027688,-0.008864,-0.014047,-0.033966,0.015514,-0.005469,...,-0.101965,-0.300737,0.025606,0.136896,0.005583,-0.251596,1.000000,-0.030510,-0.041163,-0.048712
adl_index_patient,0.107614,0.099518,0.147918,0.043799,0.109552,-0.020345,0.043657,0.077699,-0.088278,-0.091350,...,0.044482,0.006466,-0.049315,-0.008971,-0.041720,0.016831,-0.030510,1.000000,0.620964,0.667658
adl_index_surrogate,0.146124,0.090047,0.065606,0.096926,0.095220,-0.004729,0.046641,0.142791,-0.081200,-0.062858,...,-0.010468,-0.014716,0.014722,-0.012230,-0.009233,0.012491,-0.041163,0.620964,1.000000,1.000000
calibrated_adl_index_surrogate,0.154760,0.126350,0.005875,0.115379,0.078473,-0.008951,0.065915,0.142836,-0.067644,-0.053693,...,0.014834,-0.007920,0.013440,-0.013415,-0.003134,0.014776,-0.048712,0.667658,1.000000,1.000000

## Survival Rate

1. **Basic Demographics and Medical History**:
   - `age_years`: Patientâ€™s age is generally important for survival prediction.
   - `gender`: Gender can influence survival outcomes.
   - `num_comorbidities`: A count of existing comorbidities provides insight into health risks.
   - `has_diabetes`, `has_dementia`, `cancer_status`: Common comorbid conditions that are easy to input and impact survival rates.

2. **Clinical Assessment and Scores**:
   - `functional_disability_level`: Indicates patientâ€™s level of functional ability, significant in survival assessments.
   - `coma_score`: Often a modified Glasgow Coma Score, indicating neurological function.
   - `support_physiology_score` and `apache_score`: These scores assess patientâ€™s physiological status and are widely used in clinical settings.

3. **Vital Signs and Lab Measurements**:
   - `mean_arterial_bp`: Mean arterial blood pressure, a critical indicator of patient stability.
   - `heart_rate`, `respiratory_rate`: Key vital signs that are typically monitored and directly relevant to survival outcomes.
   - `body_temperature_celsius`: Body temperature is an essential sign for understanding potential infection or systemic issues.
   - `serum_sodium` and `serum_creatinine`: Laboratory measures that indicate kidney function and electrolyte balance, relevant to many conditions.

4. **Additional Functional Scores**:
   - `adl_index_patient` or `adl_index_surrogate`: These Activities of Daily Living scores reflect patient independence, which impacts survival rates.
   - `education_years` and `income_range`: Socioeconomic factors can indirectly affect survival rates but are less common in immediate clinical input.

In [45]:
survival_df = df.copy()

In [46]:
survival_df['death'] = ((survival_df['death_outside_hospital'] == 1) | (survival_df['death_inside_hospital'] == 1)).astype(int)

In [48]:
survival_df[['death','death_outside_hospital','death_inside_hospital']]

      death  death_outside_hospital  death_inside_hospital
0         0                       0                      0
1         1                       1                      1
2         1                       1                      0
3         1                       1                      0
4         0                       0                      0
...     ...                     ...                    ...
9100      0                       0                      0
9101      0                       0                      0
9102      0                       0                      0
9103      1                       1                      1
9104      1                       1                      0

[9105 rows x 3 columns]

In [49]:
survival_df['death'].value_counts()

death
1    6201
0    2904
Name: count, dtype: int64

In [62]:
test = survival_df[['death','age_years', 'gender', 'num_comorbidities', 'has_diabetes', 'has_dementia', 'cancer_status',
    'functional_disability_level', 'coma_score', 'support_physiology_score', 'apache_score',
    'mean_arterial_bp', 'heart_rate', 'respiratory_rate', 'body_temperature_celsius',
    'serum_sodium', 'serum_creatinine']]

In [63]:
test

,death,age_years,gender,num_comorbidities,has_diabetes,has_dementia,cancer_status,functional_disability_level,coma_score,support_physiology_score,apache_score,mean_arterial_bp,heart_rate,respiratory_rate,body_temperature_celsius,serum_sodium,serum_creatinine
0,0,62,1,0,0,0,1,NaN,0.0,33.898438,20.0,97.0,69.0,22.0,36.00000,141.0,1.199951
1,1,60,2,2,0,0,0,1.0,44.0,52.695312,74.0,43.0,112.0,34.0,34.59375,132.0,5.500000
2,1,52,2,2,0,0,0,1.0,0.0,20.500000,45.0,70.0,88.0,28.0,37.39844,134.0,2.000000
3,1,42,2,2,0,0,1,2.0,0.0,20.097656,19.0,75.0,88.0,32.0,35.00000,139.0,0.799927
4,0,79,2,1,0,0,0,2.0,26.0,23.500000,30.0,59.0,112.0,20.0,37.89844,143.0,0.799927
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9100,0,66,1,1,0,0,0,NaN,0.0,16.296875,22.0,109.0,104.0,22.0,35.69531,131.0,1.099854
9101,0,55,2,1,0,0,0,NaN,41.0,25.796875,31.0,43.0,0.0,8.0,38.59375,135.0,5.899414
9102,0,70,1,1,0,0,0,NaN,0.0,22.699219,39.0,111.0,83.0,24.0,36.69531,139.0,2.699707
9103,1,47,1,1,0,0,2,1.0,0.0,40.195312,51.0,99.0,110.0,24.0,36.39844,135.0,3.500000
9104,1,81,2,1,1,0,0,2.0,0.0,18.097656,7.0,75.0,69.0,24.0,36.19531,137.0,1.199951

In [65]:
test = test.dropna()

In [67]:
test['death'].value_counts()

death
1    5356
0    2298
Name: count, dtype: int64

In [ ]:
features = [
    'age_years', 'gender', 'num_comorbidities', 'has_diabetes', 'has_dementia', 'cancer_status',
    'functional_disability_level', 'coma_score', 'support_physiology_score', 'apache_score',
    'mean_arterial_bp', 'heart_rate', 'respiratory_rate', 'body_temperature_celsius',
    'serum_sodium', 'serum_creatinine'
]

In [51]:
# Define X (features) and y (target variable)
x = survival_df[features]
y = survival_df['death']

In [53]:
x.isnull().sum()

age_years                         0
gender                            0
num_comorbidities                 0
has_diabetes                      0
has_dementia                      0
cancer_status                     0
functional_disability_level    1400
coma_score                        1
support_physiology_score          1
apache_score                      1
mean_arterial_bp                  1
heart_rate                        1
respiratory_rate                  1
body_temperature_celsius          1
serum_sodium                      1
serum_creatinine                 67
adl_index_patient              5641
adl_index_surrogate            2867
dtype: int64

# Draft

## Patient Risk Classifier

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report

# Prepare data
X = df[['age_years', 'disease_group', 'disease_class', 'income_range', 'coma_score', 'hospital_charges', 'apache_score']]
y = df['survival_2_months'].apply(lambda x: 1 if x == 1 else 0)  # Binary survival outcome

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model
clf = RandomForestClassifier(n_estimators=100)
clf.fit(X_train, y_train)

# Evaluate
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

## Survival Analysis

In [14]:
df['survival_2_months'].describe()

count    9104.000000
mean        0.635870
std         0.248175
min         0.000000
25%         0.507690
50%         0.715942
75%         0.825928
max         0.969971
Name: survival_2_months, dtype: float64

In [15]:
df['survival_6_months'].describe()

count    9104.000000
mean        0.520096
std         0.253343
min         0.000000
25%         0.342957
50%         0.574951
75%         0.725952
max         0.947998
Name: survival_6_months, dtype: float64

In [ ]:
# Define features (X) and targets (y)
x = df[['age_years', 'num_comorbidities', 'coma_score', 'support_physiology_score', 
        'race_ethnicity', 'education_years', 'income_range']]  # Include all relevant features
y_2m = df['survival_2_months']  # Target for 2-month survival
y_6m = df['survival_6_months']  # Target for 6-month survival

In [ ]:
from lifelines import CoxPHFitter
from lifelines import KaplanMeierFitter

# Prepare data for Cox model
cox_data = df[['age_years', 'disease_group', 'income_range', 'hospital_charges', 'apache_score', 'survival_2_months']]
cox_data['event'] = cox_data['survival_2_months'].apply(lambda x: 1 if x == 1 else 0)

# Fit Cox Proportional Hazards Model
cph = CoxPHFitter()
cph.fit(cox_data, duration_col='age_years', event_col='event')
cph.print_summary()

# Kaplan-Meier Estimator
kmf = KaplanMeierFitter()
kmf.fit(durations=cox_data['age_years'], event_observed=cox_data['event'])
kmf.plot()

## Cost Prediction

In [ ]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

# Prepare data
X = df[['age_years', 'num_comorbidities', 'disease_group', 'income_range', 'hospital_charges', 'support_physiology_score', 'apache_score']]
y = df['hospital_charges']

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Model
model = RandomForestRegressor(n_estimators=100)
model.fit(X_train, y_train)

# Predict
y_pred = model.predict(X_test)

# Evaluate
print("Mean Squared Error: ", mean_squared_error(y_test, y_pred))