In [5]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
import joblib

In [6]:
path = "C:\\Users\\Republic Of Gamers\\OneDrive\\Documents\\GitHub\\TSDN-BoyWithLuv\\Source\\Data\\sdm_ts_elective_daily.csv"
df = pd.read_csv(path)
df.head()

,Date of Admission,Elective,"('Elective', 'Female')","('Elective', 'Male')",Elective_Lag_1,Elective_Lag_2,Elective_Lag_3,month,day,year,quarter,dayofweek,dayofyear
0,2019-05-11,11,5,6,7,14,11,5,11,2019,2,5,131
1,2019-05-12,14,8,6,11,7,14,5,12,2019,2,6,132
2,2019-05-13,6,5,1,14,11,7,5,13,2019,2,0,133
3,2019-05-14,12,6,6,6,14,11,5,14,2019,2,1,134
4,2019-05-15,12,4,8,12,6,14,5,15,2019,2,2,135

In [7]:
df.set_index('Date of Admission', inplace=True)

In [17]:
df.head()

,Elective,"('Elective', 'Female')","('Elective', 'Male')",Elective_Lag_1,Elective_Lag_2,Elective_Lag_3,month,day,year,quarter,dayofweek,dayofyear
Date of Admission,,,,,,,,,,,,
2019-05-11,11,5,6,7,14,11,5,11,2019,2,5,131
2019-05-12,14,8,6,11,7,14,5,12,2019,2,6,132
2019-05-13,6,5,1,14,11,7,5,13,2019,2,0,133
2019-05-14,12,6,6,6,14,11,5,14,2019,2,1,134
2019-05-15,12,4,8,12,6,14,5,15,2019,2,2,135

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1824 entries, 2019-05-11 to 2024-05-07
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Elective                1824 non-null   int64
 1   ('Elective', 'Female')  1824 non-null   int64
 2   ('Elective', 'Male')    1824 non-null   int64
 3   Elective_Lag_1          1824 non-null   int64
 4   Elective_Lag_2          1824 non-null   int64
 5   Elective_Lag_3          1824 non-null   int64
 6   month                   1824 non-null   int64
 7   day                     1824 non-null   int64
 8   year                    1824 non-null   int64
 9   quarter                 1824 non-null   int64
 10  dayofweek               1824 non-null   int64
 11  dayofyear               1824 non-null   int64
dtypes: int64(12)
memory usage: 185.2+ KB

In [8]:
trainElectiveSize = int(len(df) * 0.7)
trainElective, testElective= df[:trainElectiveSize], df[trainElectiveSize:]

In [9]:
X_train = trainElective.drop(columns=['Elective'])
y_train = trainElective['Elective']
X_test = testElective.drop(columns=['Elective'])
y_test = testElective['Elective']
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

In [10]:
# Define the parameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

# Initialize the model
rf = RandomForestRegressor()

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error', n_jobs=-1, verbose=2)

# Fit to the data
grid_search.fit(X_train, y_train)

# Best parameters
print("Best parameters found: ", grid_search.best_params_)

Fitting 3 folds for each of 36 candidates, totalling 108 fits
Best parameters found:  {'max_depth': 20, 'min_samples_split': 2, 'n_estimators': 100}

In [11]:
# Extract the best parameters from the grid search
best_params = grid_search.best_params_

# Initialize the RandomForestRegressor with the best parameters
best_rf = RandomForestRegressor(**best_params)

# Fit the model to the full training data
best_rf.fit(X_train, y_train)

# Make predictions on the test set or future data
y_pred = best_rf.predict(X_test)

# Display predictions
print(y_pred)

[10.    8.   13.91  7.    9.   10.   11.   10.   18.71 13.06 13.    7.
 13.06 12.   19.43  4.07  9.   13.01 14.07  7.88 11.    7.    5.89  9.
 11.   10.    4.6  11.96 17.15  8.99  7.    7.96  8.95 11.31  8.    7.14
 18.12  8.   10.   13.09  9.    7.   15.   14.96  9.49 11.17 12.    6.
 10.   13.09 13.08 12.    7.    9.   11.77 10.    7.    9.    5.03  7.
 15.05 13.01  7.    7.   17.99  4.25 13.02  5.97 12.49  9.    6.   17.35
 16.12 11.   12.   14.01  9.    7.   15.41  5.63  9.99 10.   11.   11.
 10.   12.    8.   11.   13.   11.   10.   11.    9.89  6.   11.    6.96
 11.   11.   17.03 10.   16.27  5.94 11.   11.    5.03  4.22  5.98 14.01
 11.37 11.    8.   11.    3.83  8.01 12.    9.   12.    8.   12.66  6.
  9.    2.82 14.4  11.36 11.   11.    5.64 15.05  5.   10.    3.98 12.
  5.01  9.01 14.99  9.   11.   10.    6.   16.07 11.   15.03  7.   11.
 12.    7.   13.02  9.   10.    6.   16.27 18.32  8.    6.    8.    9.
  4.37  8.    9.   13.    9.   12.01 15.47  4.85  9.   11.   12.    7.
  3.86 12.   16.86 13.92  4.64 11.   10.01  8.   10.    8.    5.03 10.
 13.94 10.   12.   10.   10.    3.09  8.   12.94 11.03  8.   13.02  7.97
  9.   13.   13.   15.34  4.68 13.92 13.65 11.   11.    9.    5.29  9.
  8.   11.97  2.81  8.   12.   16.17 17.21  5.82 10.   10.01 10.   16.56
  9.   14.56  5.11  7.   10.   11.   11.    9.41 11.    8.    8.    7.
 11.   10.01  9.   14.68 10.   11.11  8.    9.44 16.17 15.1  10.    2.68
 10.   10.   11.89  8.01 15.33 11.    6.   12.01  8.    8.01  9.   11.
  6.   11.    3.04 10.   10.   13.01 10.   12.   13.09  7.   15.12  9.
 12.    7.83 15.02 14.98 15.35  6.   10.    8.    7.    7.   12.01 10.05
 13.97 11.    8.95  7.   15.97 13.    7.   16.6   7.    4.83  5.18 12.92
 15.21 15.01  8.    9.    5.03 12.    7.12 13.   13.    9.   16.52  2.66
 14.51  5.99 13.   11.23 10.   19.82  4.16  6.    6.99 17.31 10.   11.49
 11.   10.    6.   10.    7.   13.97  6.99  5.03 16.13 14.01 13.01 11.
  8.    7.   10.   10.   17.26 10.   12.96 10.    8.05 12.    3.9   9.
 10.28 14.09  9.    9.    9.    6.   10.01  9.    7.   10.    7.    5.03
  9.   12.   13.08  2.15 10.03 11.99 12.    9.    3.12  8.    1.91  7.
  3.03 10.    5.17 10.    3.24  9.94  9.    9.    7.   11.    9.   11.
  9.    7.    9.   12.   14.01  8.    9.   10.    7.   10.    9.    9.
  3.91  6.   16.22 12.   15.02  8.    7.    9.   12.   15.46  6.    9.
 11.    8.    5.   18.14 13.07 12.89  6.   12.   11.    9.   14.03  5.
  7.    6.96 10.    8.   14.98 13.06 15.95  7.   13.97 12.   11.    4.71
 16.64 11.04  5.86 12.   11.   13.98  8.    8.01  7.    4.16  9.   11.
 13.01 12.8   5.03 10.   12.   11.    9.99 11.   10.    8.   13.07  7.
  9.    7.   11.   14.01 10.    8.    3.9  11.   10.   18.72 14.01 10.
  9.    3.98 11.29 10.99 13.    8.   15.   10.   19.9   5.04 13.01 13.
  4.76  9.    9.01 16.27 13.   12.98  8.   12.52 10.    7.    8.01  9.86
 12.16  8.   12.    3.84  8.    7.   13.    5.03  8.    8.95 11.    8.
  5.95 12.01  7.96 18.13 10.    4.79 12.01  5.97  9.33 11.    8.   17.16
 16.12  3.82  7.    5.01  8.    9.    9.84 11.52  5.   12.    8.    9.
  8.   14.   11.    8.    9.   11.    5.03 10.   10.   11.    3.83 11.
 12.    7.   13.08 15.95  9.   11.04 11.   12.81  8.   13.   20.07  8.
 14.16 15.02 12.    8.    9.    6.   12.97 13.76]

In [12]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)

# Display the metrics
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R²):", r2)

Root Mean Squared Error (RMSE): 0.2561182009282342
Mean Absolute Error (MAE): 0.08874087591240876
R-squared (R²): 0.9947032295431079

In [13]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}
xgb_model = XGBRegressor()

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error', n_jobs=-1, verbose=2)

# Fit to the data
grid_search.fit(X_train, y_train)

# Best parameters
print("Best parameters found: ", grid_search.best_params_)

Fitting 3 folds for each of 36 candidates, totalling 108 fits
Best parameters found:  {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 100}

c:\Users\Republic Of Gamers\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:160: UserWarning: [00:35:30] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "min_samples_split" } are not used.

  warnings.warn(smsg, UserWarning)

In [14]:
# Extract the best parameters from the grid search
best_params = grid_search.best_params_

# Initialize the XGBRegressor with the best parameters
best_xgb = XGBRegressor(**best_params)

# Fit the model to the full training data
best_xgb.fit(X_train, y_train)

# Make predictions on the test set or future data
y_pred = best_xgb.predict(X_test)

# Display predictions
print("Predictions:", y_pred)

Predictions: [ 9.999271   7.9980965 14.460104   6.999839   9.000277   9.999367
 11.00002    9.999723  18.42316   13.004138  12.99968    6.9976716
 13.0020275 12.001421  20.137669   4.037081   9.000373  12.817682
 13.993757   7.995817  10.999655   6.999813   5.996152   9.000625
 11.001556   9.999866   5.0088096 11.989297  18.20721    9.000244
  6.99878    7.998104   9.000995  11.207013   7.999685   7.014558
 17.94303    7.999822   9.999372  12.999696   9.00026    6.9993577
 14.998166  15.50209    8.954444  11.375457  11.999762   5.998878
  9.997047  13.020005  13.019117  12.001089   6.998993   9.002423
 11.766731   9.99901    7.231327   9.0006     5.0064273  6.9990206
 15.0247345 12.99568    7.0003805  7.000056  18.044708   4.0289907
 12.999085   5.9998236 11.7122965  8.999993   5.998799  16.985361
 15.997911  10.998269  11.997846  14.002548   9.000859   6.9991326
 16.210926   6.0074124  9.999362  10.000562  11.000206  10.999304
  9.9992485 12.000072   7.9989047 11.000153  12.999945  11.000133
  9.999015  11.000176   9.99685    5.999076  11.000199   6.998608
 10.999741  10.999556  17.104492  10.000896  16.030619   5.993865
 11.000028  10.9983635  5.004965   4.001941   6.0002    13.989729
 11.426209  10.999498   7.999171  11.000589   3.952632   8.001771
 12.008021   9.001126  12.001482   7.9995275 12.735603   6.000096
  9.000648   2.9282708 14.052805  11.409963  10.999687  10.999706
  5.687143  15.019688   4.999973   9.999458   3.7856207 12.00126
  5.0073195  8.999538  14.998167   9.002132  10.999612   9.999191
  6.002096  15.98194   11.000412  15.024672   7.0010276 11.001536
 12.001108   7.003237  13.002338   9.000915   9.998825   6.0008044
 15.995376  17.94716    7.9993916  6.0002656  7.9984455  9.000703
  4.0068192  7.9985094  9.000407  13.002266   9.0012045 12.000281
 15.012573   5.0009117  9.001424  11.000251  11.999393   7.0016165
  3.9923713 11.999737  17.513859  14.002871   5.0021863 10.998598
  9.99972    8.000635   9.999555   8.000101   5.008959  10.00057
 13.830915   9.999806  12.0018015  9.999562   9.999468   2.9828837
  7.999719  12.998309  10.997846   7.999944  12.99804    8.000175
  9.000645  12.999899  12.999845  15.009885   4.997486  14.002321
 14.419548  10.999641  10.9990425  9.000548   5.3376317  9.000253
  7.996511  11.977253   2.979896   8.000783  11.999826  16.006088
 18.198221   5.9995747  9.998976  10.00213    9.999336  15.963596
  9.000516  14.963731   4.7985554  6.998594   9.999968  10.999422
 10.999726   9.008214  11.000195   8.000115   7.9996095  6.9983177
 10.999432   9.999439   9.000749  15.166082  10.000473  11.373903
  7.9993114  9.00907   17.441046  15.004441   9.999815   3.0710857
  9.9996195 10.00052   11.994584   7.9983616 15.01045   11.000587
  5.9989166 12.000257   7.999315   7.9921455  9.0006    10.999229
  5.9989676 11.000168   2.9970233 10.000347   9.997652  12.997265
 10.000223  12.001281  13.000595   7.001605  14.990868   9.00067
 11.999671   7.9844337 15.0028305 15.003701  15.007245   6.000209
  9.999505   7.9985194  7.0007787  6.9998674 12.0004225  9.999165
 13.998792  11.000201   9.000127   7.0018225 15.96267   12.996657
  6.999775  17.054413   7.000378   4.9994707  5.255957  12.818716
 14.9873    15.004659   8.000158   8.999603   5.0083914 12.000614
  7.006053  12.997798  13.004454   9.001078  17.496101   2.249211
 14.2579     6.0012097 13.001723  11.279448   9.9982605 21.09562
  3.5505338  6.001191   6.9697485 17.187765   9.9988575 12.121168
 11.000285   9.99937    6.0012946 10.000929   6.9989743 13.999527
  7.0261235  5.009523  16.049479  13.999153  13.000048  10.9998455
  7.999831   6.9980965  9.999507   9.998799  17.25397    9.99981
 13.007086  10.00067    8.000039  12.001904   3.8958647  9.00057
 10.151981  14.270715   9.000108   9.000289   9.00079    6.00134
 10.000124   9.000182   7.0008073  9.999759   6.999783   5.0053105
  9.001297  11.999255  13.000095   2.043614  10.00034   12.000617
 11.998906   8.995416   2.9901173  7.9988213  2.0072672  7.0009804
  2.6560185 10.000497   4.9987264 10.001422   2.8145573  9.997011
  9.001614   9.00033    6.9999566 11.0000515  9.000376  10.999493
  9.00102    6.9992228  9.00198   11.999127  13.994271   8.000343
  9.000527   9.99982    6.9990025 10.000635   9.00043    9.001378
  3.993374   5.998939  15.956059  12.001919  15.015939   8.001701
  6.9986076  9.000674  11.9994755 15.008636   5.999929   9.001161
 11.00011    7.999259   5.002181  17.943964  12.996144  12.997352
  6.0004826 11.999495  10.999965   9.000748  13.997832   5.002174
  6.9883075  7.000873  10.000275   7.9993687 14.991766  12.994823
 15.967525   6.999174  14.050717  12.014981  10.999213   4.9949536
 17.176502  10.991918   5.997936  11.998505  11.000364  13.993403
  7.9997997  7.9964724  6.9997888  3.5205696  9.000802  10.999696
 12.998963  12.995543   5.0063777 10.000542  12.001005  10.999524
  9.998603  10.999621   9.999482   7.9991703 12.984104   7.000126
  9.001472   6.9998417 10.999534  13.9961405 10.0007     7.9996905
  3.9911869 11.003229   9.999992  19.140549  13.996939   9.999275
  9.000285   3.994987  11.579992  10.997892  12.999585   8.000084
 15.001188  10.000257  20.382908   4.917853  13.00521   12.995707
  5.0006523  9.000914   9.000006  15.992567  13.003082  12.716731
  7.999933  11.900905  10.000017   6.9993124  7.996114   9.997596
 12.002063   7.999128  12.001691   3.9908495  8.001111   6.999205
 13.001743   5.0062485  7.9992456  9.000769  11.000124   7.9991555
  5.9955306 12.001163   7.998774  17.817114  10.000051   5.004723
 12.000587   5.9989433  9.07629   10.999872   7.996663  16.924171
 16.027624   3.9476478  7.001063   5.007776   7.998789   8.999844
  9.9988785 11.835904   5.0028543 12.002467   7.9987736  8.999945
  7.9995413 14.00172   10.999838   7.999947   9.000548  11.000564
  5.0075464  9.999251  10.000282  10.999668   3.9897413 11.000492
 11.999869   7.0012794 13.001273  16.001053   9.001449  11.373585
 11.000334  12.996874   8.000029  12.998907  20.800852   8.000187
 13.991794  15.001125  11.999727   7.999666   9.000739   6.0016527
 12.99486   14.460427 ]

c:\Users\Republic Of Gamers\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:160: UserWarning: [00:35:30] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "min_samples_split" } are not used.

  warnings.warn(smsg, UserWarning)

In [15]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)

# Display the metrics
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R²):", r2)

Root Mean Squared Error (RMSE): 0.15559111323826694
Mean Absolute Error (MAE): 0.0440390518982045
R-squared (R²): 0.9980452060699463

In [16]:
joblib.dump(best_xgb, 'xgb_elective.pkl')

['xgb_elective.pkl']