In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import GridSearchCV
from xgboost import XGBRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [8]:
path = "C:\\Users\\Republic Of Gamers\\OneDrive\\Documents\\GitHub\\TSDN-BoyWithLuv\\Source\\Data\\sdm_preprocessed.csv"
df = pd.read_csv(path)
df.head()

,Name,Age,Gender,Blood Type,Medical Condition,Date of Admission,Doctor,Hospital,Insurance Provider,Billing Amount,Room Number,Admission Type,Discharge Date,Medication,Test Results,day_stayed
0,Bobby Jackson,30,Male,B-,Cancer,2024-01-31,Matthew Smith,Sons and Miller,Blue Cross,18856.281306,328,Urgent,2024-02-02,Paracetamol,Normal,2
1,Leslie Terry,62,Male,A+,Obesity,2019-08-20,Samantha Davies,Kim Inc,Medicare,33643.327287,265,Emergency,2019-08-26,Ibuprofen,Inconclusive,6
2,Danny Smith,76,Female,A-,Obesity,2022-09-22,Tiffany Mitchell,Cook PLC,Aetna,27955.096079,205,Emergency,2022-10-07,Aspirin,Normal,15
3,Andrew Watts,28,Female,O+,Diabetes,2020-11-18,Kevin Wells,"Hernandez Rogers and Vang,",Medicare,37909.782410,450,Elective,2020-12-18,Ibuprofen,Abnormal,30
4,Adrienne Bell,43,Female,AB+,Cancer,2022-09-19,Kathleen Hanna,White-White,Aetna,14238.317814,458,Urgent,2022-10-09,Penicillin,Abnormal,20

In [9]:
def tsFeature(df):
    df = df.copy()
    df['month'] = df['Date of Admission'].dt.month
    df['day'] = df['Date of Admission'].dt.day
    df['year'] = df['Date of Admission'].dt.year
    df['quarter'] = df['Date of Admission'].dt.quarter
    df['dayofweek'] = df['Date of Admission'].dt.dayofweek
    df['dayofyear'] = df['Date of Admission'].dt.dayofyear
    return df

df['Date of Admission'] = pd.to_datetime(df['Date of Admission'])
ts_df = tsFeature(df)

In [10]:
ts_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55392 entries, 0 to 55391
Data columns (total 22 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Name                55392 non-null  object
 1   Age                 55392 non-null  int64
 2   Gender              55392 non-null  object
 3   Blood Type          55392 non-null  object
 4   Medical Condition   55392 non-null  object
 5   Date of Admission   55392 non-null  datetime64[ns]
 6   Doctor              55392 non-null  object
 7   Hospital            55392 non-null  object
 8   Insurance Provider  55392 non-null  object
 9   Billing Amount      55392 non-null  float64
 10  Room Number         55392 non-null  int64
 11  Admission Type      55392 non-null  object
 12  Discharge Date      55392 non-null  object
 13  Medication          55392 non-null  object
 14  Test Results        55392 non-null  object
 15  day_stayed          55392 non-null  int64
 16  month               55392 non-null  int32
 17  day                 55392 non-null  int32
 18  year                55392 non-null  int32
 19  quarter             55392 non-null  int32
 20  dayofweek           55392 non-null  int32
 21  dayofyear           55392 non-null  int32
dtypes: datetime64[ns](1), float64(1), int32(6), int64(3), object(11)
memory usage: 8.0+ MB

In [11]:
ts_df['Date of Admission'] = pd.to_datetime(ts_df['Date of Admission'])
ts_df.set_index('Date of Admission', inplace=True)
daily_df = ts_df.groupby('Admission Type').resample('D').size().unstack(fill_value=0)
daily_df = daily_df.T
daily_df.index.name = 'Date of Admission'

In [12]:
daily_df.head()

Admission Type     Elective  Emergency  Urgent
Date of Admission
2019-05-08               11         14       2
2019-05-09               14          9      15
2019-05-10                7          1       9
2019-05-11               11          5       9
2019-05-12               14         10      12

In [13]:
daily_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1827 entries, 2019-05-08 to 2024-05-07
Freq: D
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Elective   1827 non-null   int64
 1   Emergency  1827 non-null   int64
 2   Urgent     1827 non-null   int64
dtypes: int64(3)
memory usage: 121.6 KB

In [14]:
'''# Create a new DataFrame to hold blood type counts against admission types
blood_type_counts = ts_df.groupby(['Admission Type', 'RhFactor']).resample('D').size().unstack(fill_value=0)

# Transpose the new DataFrame
blood_type_counts = blood_type_counts.T

# Rename the index to 'Date of Admission'
blood_type_counts.index.name = 'Date of Admission'

# Concatenate the blood type counts to the existing monthly_df
# This assumes monthly_df is already defined
daily_df = pd.concat([daily_df, blood_type_counts], axis=1)

# Display the updated DataFrame
daily_df.head()'''

"# Create a new DataFrame to hold blood type counts against admission types\nblood_type_counts = ts_df.groupby(['Admission Type', 'RhFactor']).resample('D').size().unstack(fill_value=0)\n\n# Transpose the new DataFrame\nblood_type_counts = blood_type_counts.T\n\n# Rename the index to 'Date of Admission'\nblood_type_counts.index.name = 'Date of Admission'\n\n# Concatenate the blood type counts to the existing monthly_df\n# This assumes monthly_df is already defined\ndaily_df = pd.concat([daily_df, blood_type_counts], axis=1)\n\n# Display the updated DataFrame\ndaily_df.head()"

In [15]:
# Create a new DataFrame to hold blood type counts against admission types
gender_counts = ts_df.groupby(['Admission Type', 'Gender']).resample('D').size().unstack(fill_value=0)

# Transpose the new DataFrame
gender_counts = gender_counts.T

# Rename the index to 'Date of Admission'
gender_counts.index.name = 'Date of Admission'

# Concatenate the blood type counts to the existing monthly_df
# This assumes monthly_df is already defined
daily_df = pd.concat([daily_df, gender_counts], axis=1)

# Display the updated DataFrame
daily_df.head()

,Elective,Emergency,Urgent,"(Elective, Female)","(Elective, Male)","(Emergency, Female)","(Emergency, Male)","(Urgent, Female)","(Urgent, Male)"
Date of Admission,,,,,,,,,
2019-05-08,11,14,2,6,5,6,8,0,2
2019-05-09,14,9,15,6,8,3,6,5,10
2019-05-10,7,1,9,4,3,1,0,4,5
2019-05-11,11,5,9,5,6,3,2,6,3
2019-05-12,14,10,12,8,6,7,3,7,5

In [16]:
target_columns = ['Elective', 'Urgent', 'Emergency']

# Loop through only the specified columns
for admission_type in target_columns:
    if admission_type in daily_df.columns:
        for lag in range(1, 4):
            daily_df[f'{admission_type}_Lag_{lag}'] = daily_df[admission_type].shift(lag)

In [17]:
daily_df.head()

,Elective,Emergency,Urgent,"(Elective, Female)","(Elective, Male)","(Emergency, Female)","(Emergency, Male)","(Urgent, Female)","(Urgent, Male)",Elective_Lag_1,Elective_Lag_2,Elective_Lag_3,Urgent_Lag_1,Urgent_Lag_2,Urgent_Lag_3,Emergency_Lag_1,Emergency_Lag_2,Emergency_Lag_3
Date of Admission,,,,,,,,,,,,,,,,,,
2019-05-08,11,14,2,6,5,6,8,0,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2019-05-09,14,9,15,6,8,3,6,5,10,11.0,NaN,NaN,2.0,NaN,NaN,14.0,NaN,NaN
2019-05-10,7,1,9,4,3,1,0,4,5,14.0,11.0,NaN,15.0,2.0,NaN,9.0,14.0,NaN
2019-05-11,11,5,9,5,6,3,2,6,3,7.0,14.0,11.0,9.0,15.0,2.0,1.0,9.0,14.0
2019-05-12,14,10,12,8,6,7,3,7,5,11.0,7.0,14.0,9.0,9.0,15.0,5.0,1.0,9.0

In [18]:
daily_df_cleaned = daily_df.dropna()
daily_df_cleaned.head()

,Elective,Emergency,Urgent,"(Elective, Female)","(Elective, Male)","(Emergency, Female)","(Emergency, Male)","(Urgent, Female)","(Urgent, Male)",Elective_Lag_1,Elective_Lag_2,Elective_Lag_3,Urgent_Lag_1,Urgent_Lag_2,Urgent_Lag_3,Emergency_Lag_1,Emergency_Lag_2,Emergency_Lag_3
Date of Admission,,,,,,,,,,,,,,,,,,
2019-05-11,11,5,9,5,6,3,2,6,3,7.0,14.0,11.0,9.0,15.0,2.0,1.0,9.0,14.0
2019-05-12,14,10,12,8,6,7,3,7,5,11.0,7.0,14.0,9.0,9.0,15.0,5.0,1.0,9.0
2019-05-13,6,9,8,5,1,5,4,5,3,14.0,11.0,7.0,12.0,9.0,9.0,10.0,5.0,1.0
2019-05-14,12,13,8,6,6,6,7,3,5,6.0,14.0,11.0,8.0,12.0,9.0,9.0,10.0,5.0
2019-05-15,12,15,12,4,8,8,7,6,6,12.0,6.0,14.0,8.0,8.0,12.0,13.0,9.0,10.0

In [19]:
daily_df_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1824 entries, 2019-05-11 to 2024-05-07
Freq: D
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Elective             1824 non-null   int64
 1   Emergency            1824 non-null   int64
 2   Urgent               1824 non-null   int64
 3   (Elective, Female)   1824 non-null   int64
 4   (Elective, Male)     1824 non-null   int64
 5   (Emergency, Female)  1824 non-null   int64
 6   (Emergency, Male)    1824 non-null   int64
 7   (Urgent, Female)     1824 non-null   int64
 8   (Urgent, Male)       1824 non-null   int64
 9   Elective_Lag_1       1824 non-null   float64
 10  Elective_Lag_2       1824 non-null   float64
 11  Elective_Lag_3       1824 non-null   float64
 12  Urgent_Lag_1         1824 non-null   float64
 13  Urgent_Lag_2         1824 non-null   float64
 14  Urgent_Lag_3         1824 non-null   float64
 15  Emergency_Lag_1      1824 non-null   float64
 16  Emergency_Lag_2      1824 non-null   float64
 17  Emergency_Lag_3      1824 non-null   float64
dtypes: float64(9), int64(9)
memory usage: 270.8 KB

In [20]:
daily_df_cleaned = daily_df_cleaned.astype(int)

In [21]:
elective_columns = [col for col in daily_df_cleaned.columns if 'Elective' in col]
urgent_columns = [col for col in daily_df_cleaned.columns if 'Urgent' in col]
emergency_columns = [col for col in daily_df_cleaned.columns if 'Emergency' in col]

# Create a new DataFrame with the column names only
elective_df = daily_df_cleaned[elective_columns].copy()
urgent_df = daily_df_cleaned[urgent_columns].copy()
emergency_df = daily_df_cleaned[emergency_columns].copy()

In [22]:
emergency_df.head()

,Emergency,"(Emergency, Female)","(Emergency, Male)",Emergency_Lag_1,Emergency_Lag_2,Emergency_Lag_3
Date of Admission,,,,,,
2019-05-11,5,3,2,1,9,14
2019-05-12,10,7,3,5,1,9
2019-05-13,9,5,4,10,5,1
2019-05-14,13,6,7,9,10,5
2019-05-15,15,8,7,13,9,10

In [23]:
emergency_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1824 entries, 2019-05-11 to 2024-05-07
Freq: D
Data columns (total 6 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Emergency            1824 non-null   int32
 1   (Emergency, Female)  1824 non-null   int32
 2   (Emergency, Male)    1824 non-null   int32
 3   Emergency_Lag_1      1824 non-null   int32
 4   Emergency_Lag_2      1824 non-null   int32
 5   Emergency_Lag_3      1824 non-null   int32
dtypes: int32(6)
memory usage: 57.0 KB

In [24]:
elective_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1824 entries, 2019-05-11 to 2024-05-07
Freq: D
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Elective            1824 non-null   int32
 1   (Elective, Female)  1824 non-null   int32
 2   (Elective, Male)    1824 non-null   int32
 3   Elective_Lag_1      1824 non-null   int32
 4   Elective_Lag_2      1824 non-null   int32
 5   Elective_Lag_3      1824 non-null   int32
dtypes: int32(6)
memory usage: 57.0 KB

In [25]:
urgent_df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 1824 entries, 2019-05-11 to 2024-05-07
Freq: D
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Urgent            1824 non-null   int32
 1   (Urgent, Female)  1824 non-null   int32
 2   (Urgent, Male)    1824 non-null   int32
 3   Urgent_Lag_1      1824 non-null   int32
 4   Urgent_Lag_2      1824 non-null   int32
 5   Urgent_Lag_3      1824 non-null   int32
dtypes: int32(6)
memory usage: 57.0 KB

In [26]:
def tsFeatureType(df):
    df = df.copy()
    df['month'] = df.index.month
    df['day'] = df.index.day
    df['year'] = df.index.year
    df['quarter'] = df.index.quarter
    df['dayofweek'] = df.index.dayofweek
    df['dayofyear'] = df.index.dayofyear
    return df

emergency_df = tsFeatureType(emergency_df)
elective_df = tsFeatureType(elective_df)
urgent_df = tsFeatureType(urgent_df)

In [27]:
emergency_df.to_csv('sdm_ts_emergency_daily.csv', index = True)
urgent_df.to_csv('sdm_ts_urgent_daily.csv', index = True)
elective_df.to_csv('sdm_ts_elective_daily.csv', index = True)

In [ ]:
trainEmergencySize = int(len(emergency_df) * 0.7)
trainEmergency, testEmergency= emergency_df[:trainEmergencySize], emergency_df[trainEmergencySize:]

In [ ]:
X_train = trainEmergency.drop(columns=['Emergency'])
y_train = trainEmergency['Emergency']
X_test = testEmergency.drop(columns=['Emergency'])
y_test = testEmergency['Emergency']
X_train.columns = X_train.columns.astype(str)
X_test.columns = X_test.columns.astype(str)

In [ ]:
# Define the parameter grid
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}

# Initialize the model
rf = RandomForestRegressor()

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=rf, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error', n_jobs=-1, verbose=2)

# Fit to the data
grid_search.fit(X_train, y_train)

# Best parameters
print("Best parameters found: ", grid_search.best_params_)

Fitting 3 folds for each of 36 candidates, totalling 108 fits
Best parameters found:  {'max_depth': 10, 'min_samples_split': 2, 'n_estimators': 100}

In [ ]:
# Extract the best parameters from the grid search
best_params = grid_search.best_params_

# Initialize the RandomForestRegressor with the best parameters
best_rf = RandomForestRegressor(**best_params)

# Fit the model to the full training data
best_rf.fit(X_train, y_train)

# Make predictions on the test set or future data
y_pred = best_rf.predict(X_test)

# Display predictions
print(y_pred)

[ 9.          8.         12.99        3.          7.         14.
 16.01        8.          6.         17.01       12.99        3.
 10.          9.          9.         12.         13.          6.02
  4.         13.          8.         11.          7.         12.
  6.         15.99363636  9.          6.         11.         11.
 10.          9.          6.         11.         12.          8.
 14.          9.          9.         10.98        9.          8.
  6.          3.         16.          8.          3.          9.
 17.08833333 10.         10.          3.04        7.         10.
 18.91        7.          8.         10.         16.08       10.
 11.         12.          6.          3.08       11.         15.99
  6.         11.         12.99       11.         10.03        9.
  5.         14.         11.         11.         10.          6.
  6.         10.         11.          7.         13.         10.
 10.         16.97       12.         11.         13.         14.01
  8.         13.          8.         12.         11.          7.
 13.          7.         16.01       11.         15.         10.
 15.         10.          9.          8.01       12.         16.18666667
  3.          9.95        7.          7.         12.         11.
  6.         11.         13.         10.          8.         13.
  6.          7.01        6.          2.38       11.         10.
 11.         13.         15.          9.         12.          8.
 14.         10.          7.          9.         10.          8.
 13.          7.         16.93333333 16.          9.         15.89
 15.95        8.          5.         12.          9.         10.
 10.         15.         13.         19.69       18.01        5.12
 15.          6.          9.         16.          8.         13.
  6.         11.          5.13        7.          7.          6.
  9.         10.          9.         15.00363636  6.         11.
  8.          8.         15.         10.98       17.86       10.
 11.          8.         13.          6.          8.         12.
  7.99       16.          6.          7.         15.00363636  9.
  9.          3.         14.          5.12       11.         10.
 12.         14.          8.          8.         16.45        8.
  9.         13.          6.         16.          9.         12.
 13.         15.          8.          8.          9.          5.
 12.95       14.         14.97       11.          9.          3.
  7.         14.01        4.         11.         10.         13.
 11.         10.         12.          7.         12.          9.
  8.         12.          8.          8.         11.          9.
 14.          5.          9.          6.          7.          9.
 14.89666667 10.         12.         11.         13.28       11.
 10.          6.         12.99        9.         10.         16.
  5.          8.          9.95        5.         10.          9.
  6.         10.          7.99       11.          7.          9.
  8.         10.          7.99        7.         13.         11.
  9.         15.         12.95       10.         17.24        7.
  7.          6.          7.          7.         10.          3.
 12.         11.         11.          6.         12.08        9.
  7.         10.         14.         11.         15.95        7.
  9.          9.         11.         11.         12.08        8.
  8.          6.          8.         11.         10.          9.
  5.         13.96        2.18       14.         10.          8.
 11.          9.          9.         12.         15.00363636  9.
 15.          9.         11.         11.         14.01        9.
  9.         14.          9.         12.         12.         20.44
  6.          5.         17.01        9.          4.         12.
 11.         17.84166667  7.          9.         10.          4.
 11.          8.         11.          7.          7.         13.
  5.          9.          4.07       10.          6.         16.18666667
 12.         10.         13.         11.         13.         13.
 13.          9.          5.          9.         11.         13.
  7.          6.         13.         13.         11.         10.
  6.         12.         12.          8.         11.         11.
  8.          7.          9.          9.         10.         11.
 11.         13.         11.         15.00363636  7.          9.
  8.         10.          9.          9.          8.         12.
 11.         11.          7.         14.01       10.          6.
 12.         17.01       11.         12.         10.         10.
  3.04        5.         10.         12.          4.         12.99
  8.          5.          8.         11.          6.         12.19
 10.         11.          6.          9.          6.         11.
  8.          7.          6.          6.          6.         15.35
 14.97       15.          9.         12.         13.         11.
 10.          5.          9.          5.13       10.          9.
 12.         12.         12.         10.         15.99       12.
 11.         12.         10.         11.         12.          9.
  9.          8.         11.         12.          6.          8.
 11.         11.4        12.         13.          9.         12.
 11.          6.         10.          9.         16.         12.
  7.          6.          6.          8.          8.         11.
  7.         14.         13.         12.95       10.98        6.
  5.         14.         16.          5.         11.         12.
  8.         15.00363636  3.         10.          8.          9.
  6.         11.         11.         12.          3.          8.
  7.         11.          7.          7.         10.         13.
 14.94       12.08       12.         17.9675     10.         14.
 10.98        6.         11.          1.2        10.         13.
 11.         12.         15.00363636  8.          3.         11.
 13.96       12.99       12.99       10.         10.         11.
 12.         16.18666667  5.         12.         16.01        6.
  8.          8.          9.        ]

In [ ]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)

# Display the metrics
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R²):", r2)

Root Mean Squared Error (RMSE): 0.1725845737211181
Mean Absolute Error (MAE): 0.024384969917756783
R-squared (R²): 0.9973915155972495

In [ ]:
param_grid = {
    'n_estimators': [100, 200, 300],
    'max_depth': [None, 10, 20, 30],
    'min_samples_split': [2, 5, 10]
}
xgb_model = XGBRegressor()

# Set up GridSearchCV
grid_search = GridSearchCV(estimator=xgb_model, param_grid=param_grid, cv=3, scoring='neg_mean_squared_error', n_jobs=-1, verbose=2)

# Fit to the data
grid_search.fit(X_train, y_train)

# Best parameters
print("Best parameters found: ", grid_search.best_params_)

Fitting 3 folds for each of 36 candidates, totalling 108 fits
Best parameters found:  {'max_depth': None, 'min_samples_split': 2, 'n_estimators': 200}

c:\Users\Republic Of Gamers\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:160: UserWarning: [23:58:18] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "min_samples_split" } are not used.

  warnings.warn(smsg, UserWarning)

In [ ]:
# Extract the best parameters from the grid search
best_params = grid_search.best_params_

# Initialize the XGBRegressor with the best parameters
best_xgb = XGBRegressor(**best_params)

# Fit the model to the full training data
best_xgb.fit(X_train, y_train)

# Make predictions on the test set or future data
y_pred = best_xgb.predict(X_test)

# Display predictions
print("Predictions:", y_pred)

Predictions: [ 9.000086    8.001299   13.010904    3.000685    6.997571   13.997227
 15.996727    8.0019      6.0006824  17.000725   13.010904    3.0004241
 10.000198    9.000248    8.998876   11.998702   13.002624    6.000657
  4.000276   13.002624    8.001299   10.996132    6.9982285  11.999142
  6.000871   15.998155    9.001222    6.0027156  11.001888   11.000063
 10.00295     9.000413    6.000546   11.004042   12.001374    8.000673
 13.996867    9.000248    9.000248   10.999775    9.001222    8.00088
  6.000871    3.000685   15.997424    8.00088     3.000685    8.998876
 16.992899    9.9971075   9.999021    3.0005875   6.9982285  10.00295
 18.997532    6.9982285   8.0019      9.997975   16.88007     9.997975
 11.001888   12.001374    6.000871    3.000012   11.001053   16.00027
  6.000871   11.004042   13.010904   11.001053    9.99811     8.998876
  5.000036   13.997227   11.004042   11.001053   10.000198    6.000871
  6.000546   10.00295    10.996132    6.998283   13.00085    10.001739
  9.9971075  17.004547   11.998702   11.001053   13.002624   14.001403
  8.0019     13.002627    8.001299   11.997047   10.9991455   6.999132
 13.001955    6.998283   15.996727   11.000063   15.002721    9.999021
 15.002721    9.9971075   9.000086    8.000524   12.000621   16.01178
  3.000685    9.995549    6.999132    6.997136   11.997047   11.001053
  6.000871   11.001053   13.00085    10.001739    8.001537   13.002627
  6.0006824   6.999186    6.000546    2.1999092  11.000063   10.001739
 10.9991455  13.00085    15.004319    8.998876   11.994164    8.001537
 13.996867   10.001739    6.9982285   8.998876   10.001739    8.001537
 13.002624    6.998283   16.999102   15.997424    8.998876   16.00137
 16.00061     8.0019      4.9992743  12.000621    9.001222    9.999021
 10.001739   15.002721   12.999442   20.208675   18.002958    4.99958
 15.004319    6.000871    8.998704   15.997424    8.0019     13.001955
  6.000546   11.001053    4.995914    6.997136    6.997136    6.0006824
  8.997499    9.999021    8.998704   15.003095    6.0006824  11.001053
  8.00088     8.001299   15.004319   10.999775   18.000626   10.00295
 11.004042    8.0019     13.00085     6.000546    8.000673   12.000621
  7.9989095  15.997424    6.000546    6.9992623  15.003095    9.000413
  8.997499    3.0004241  13.9950485   4.99958    10.996132    9.9971075
 11.997047   13.997227    8.0019      8.001537   16.977346    8.001299
  9.001222   13.001955    6.000546   15.997424    8.998704   11.998702
 13.002624   15.000767    8.00088     8.00088     9.000086    5.0004654
 12.988804   13.997461   14.999357   11.001053    9.000248    3.000685
  6.997571   13.999336    3.9989305  10.996132   10.000198   13.00085
 11.000063   10.00295    11.998702    6.9992623  11.997047    8.998876
  8.0019     11.998702    8.00088     8.000673   11.000063    9.000248
 13.996867    5.0004654   8.998704    6.000871    6.997571    8.998704
 15.00029     9.999021   12.001374   10.996132   13.700003   11.000063
  9.999021    6.000871   13.010904    9.000086   10.001739   15.997424
  4.9992743   8.001299    9.995549    4.9992743  10.000198    9.001222
  6.0006824  10.00295     7.9989095  11.002251    6.998283    8.997499
  8.00088     9.999021    7.9989095   6.9992623  13.001955   11.001888
  9.000248   15.004319   12.988804    9.9971075  18.354038    6.9992623
  6.9982285   6.000871    6.9982285   6.999132    9.999021    3.0004241
 11.999142   11.000063   11.004042    6.0006824  12.000137    9.000413
  6.998283    9.997975   13.9950485  11.001888   16.00061     6.998283
  9.001222    9.000086   11.001888   11.001888   12.000137    8.00088
  8.00088     6.0027156   8.0019     11.000063    9.999021    8.998876
  5.000036   14.003692    1.9986587  13.9950485   9.997975    8.000673
 11.001053    8.998704    9.000413   12.000621   15.003095    8.997499
 15.004319    9.000413   10.9991455  11.000063   14.001403    9.000086
  9.000248   13.996867    9.000248   11.998702   12.000621   21.002922
  6.0007386   4.9992743  16.98961     9.000086    4.000276   12.000621
 11.004042   18.004322    6.998283    8.998876    9.9971075   3.9989305
 11.001053    8.000673   10.9991455   6.999132    6.998283   13.001955
  4.9992743   8.998876    3.99866     9.999021    6.0007386  16.01178
 11.997047   10.000198   13.002624   10.996132   13.00085    13.002624
 12.999442    8.998876    5.0004654   8.997499   11.004042   13.00085
  6.999132    6.0006824  13.002627   13.00085    11.001053   10.00295
  6.0006824  12.001374   12.000621    8.001537   11.001053   10.996132
  8.00088     6.998283    8.998876    8.998876   10.001739   10.9991455
 11.000063   13.00085    10.996132   15.003095    6.9982285   8.998704
  8.00088    10.001739    8.998704    8.997499    8.0019     12.001374
 11.000063   11.001888    6.998283   14.001403   10.000198    6.000546
 12.001374   17.000725   11.001053   12.001374   10.001739    9.9971075
  3.0005875   4.9992743   9.9971075  11.997047    4.000218   13.010904
  8.00088     4.9992743   8.001537   11.004042    6.0027156  11.998636
  9.999021   11.001053    6.0006824   8.998704    6.000871   11.000063
  8.000673    6.998283    6.0027156   6.000546    6.000546   15.382249
 14.999357   15.004319    9.000086   11.998702   13.001955   10.996132
  9.999021    5.0004654   9.000248    4.995914   10.001739    9.000086
 11.999142   11.998702   12.000621   10.001739   16.00027    11.997047
 11.001888   12.000621   10.001739   11.000063   11.998702    9.000248
  8.997499    8.001299   10.996132   11.997047    6.0027156   8.001537
 11.001888   11.002735   11.994164   13.002624    8.997499   11.997047
 10.996132    6.000546   10.001739    9.001222   15.997424   12.001374
  6.997136    6.000546    6.000871    8.00088     8.0019     11.000063
  6.998283   13.997461   13.00085    12.988804   10.999775    6.000546
  5.0004654  13.9950485  15.999267    5.000036   11.002251   11.998702
  8.001299   15.003095    3.0004241   9.997538    8.00088     9.000086
  6.0006824  11.001053   11.001053   11.998702    3.000685    8.001537
  6.998283   11.001053    6.9982285   6.997571    9.9971075  12.999442
 17.039854   12.000137   11.997047   18.002207    9.999021   13.997461
 10.999775    6.0007386  11.001053    0.79641753  9.999021   12.999442
 10.996132   11.998702   15.003095    8.001299    3.0004241  11.004042
 14.003692   13.010904   13.010904    9.999021    9.999021   10.9991455
 12.001374   16.01178     5.0004654  12.000621   15.996727    6.0006824
  8.001299    8.0019      9.000248  ]

c:\Users\Republic Of Gamers\AppData\Local\Programs\Python\Python39\lib\site-packages\xgboost\core.py:160: UserWarning: [23:58:19] WARNING: C:\buildkite-agent\builds\buildkite-windows-cpu-autoscaling-group-i-0b3782d1791676daf-1\xgboost\xgboost-ci-windows\src\learner.cc:742:
Parameters: { "min_samples_split" } are not used.

  warnings.warn(smsg, UserWarning)

In [ ]:
# Calculate RMSE
rmse = np.sqrt(mean_squared_error(y_test, y_pred))

# Calculate MAE
mae = mean_absolute_error(y_test, y_pred)

# Calculate R-squared
r2 = r2_score(y_test, y_pred)

# Display the metrics
print("Root Mean Squared Error (RMSE):", rmse)
print("Mean Absolute Error (MAE):", mae)
print("R-squared (R²):", r2)

Root Mean Squared Error (RMSE): 0.07028031399745832
Mean Absolute Error (MAE): 0.009126368007590428
R-squared (R²): 0.999567449092865